@using ParsaPoolad.Domain.Entities.Identity
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService _authorizationService;
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<header id="header_newkala" class="newkala_main_header_tag">

<script>
        jQuery(document).ready(function () {
            jQuery(".top_header_section button").click(function () {
                jQuery(".top_header_section").hide();
                var top = jQuery('header#header_newkala').height();
                jQuery('.full_width_main_menu').css({'top': top});
            });
        });
</script>
<style>
    .main_login_register .title_login_register:before {
        color: #47ff0b !important;
    }
    .title_login_register:after {
        content: "\E00E";
        font-family: onliner;
        float: left;
        margin: 5px 5px 0 0;
        font-size: 13px;
    }
</style>

<div class="container main_header ">


<div class="newkala-header-mobile">
<div class="nk-header-part-item-mobile nk-header-part-item-mobile-right">
<i
    class="fa fa-bars newkala_menu_icon_shop " aria-hidden="true">
</i>
<div class="black_opacity_responsive_menu"></div>
<div class="main_newkala_responsive_menu">

<div class="logo_responsive_menu">
    <a href="https://newkalatheme.ir/preview">
        <img
            src="~/Images/Settings/Logo-Header.jpg"
            data-lazy-src="~/Images/Settings/Logo-Header.jpg">
        <noscript>
            <img
                src="~/Images/Settings/Logo-Header.jpg">
        </noscript>
    </a>


</div>
@* <ul class="responsive_main_menu"> *@
@* *@
@* <li id="menu-item-90" *@
@*     class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-90"> *@
@*     <a href="https://newkalatheme.ir/preview/" aria-current="page">صفحه اصلی</a> *@
@* </li> *@
@* *@
@* <li id="menu-item-233" *@
@*     class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-233"> *@
@*     <a href="https://newkalatheme.ir/preview/product-category/digital-product/">1</a> *@
@*     <ul class="sub-menu"> *@
@*         <li id="menu-item-234" *@
@*             class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-234"> *@
@*             <a href="https://newkalatheme.ir/preview/product-category/digital-product/mobile/">2</a> *@
@*             <ul class="sub-menu"> *@
@*                 <li id="menu-item-240" *@
@*                     class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"> *@
@*                     <a href="#">3 </a> *@
@*                 </li> *@
@*             </ul> *@
@*         </li> *@
@*     </ul> *@
@* </li> *@
@* </ul> *@
    <script>
        jQuery('.responsive_main_menu li.menu-item-has-children').append('<span class="toggle_menu"></span>');
        jQuery('.responsive_main_menu li.menu-item-has-children span.toggle_menu').click(function () {
            jQuery(this).parent().find('ul:first').toggleClass('show');
            jQuery(this).toggleClass("opened");
        });
    </script>
    
</div>

</div>
<div class="nk-header-part-item-mobile nk-header-part-item-mobile-middle">
    <div class="nk-logo-mobile ">

        <a href="/" target="_blank">
            <img src="/Images/Settings/Logo-Header.jpg"
                 data-lazy-src="/Images/Settings/Logo-Header.jpg"/>
            <noscript>
                <img
                    src="/Images/Settings/Logo-Header.jpg"/>
            </noscript>
        </a>
    </div>

</div>
<div class="nk-header-part-item-mobile nk-header-part-item-mobile-left">
    <a href="https://www.instagram.com/?hl=en" class="newkala_icon_faq">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </a>
</div>
</div>


<div class="nk_first_content_header">


    <div class="logo ">
        <h1> پارسا پولاد هور </h1>
        <a title="اکوفولاد - فروشگاه آنلاین محصولات فولادی" href="/">
            <img data-skip-lazy="" class="skip-lazy"
                 src="~/Images/Settings/Logo-Header.jpg"
                 alt="اکوفولاد - فروشگاه آنلاین محصولات فولادی">
            <span class="main-site-title">پارسا پولاد</span>
        </a>
    </div>


    <form id="" class="frm_search " action="">
        <input class="nk_input_serach_product" autocomplete="off" oninput="ajax_search()" value="" type="text"
               name="s" id="txt_search" placeholder="جستجو در محصولات ....">
        <input type="hidden" value="product" name="post_type">
        <button type="submit" id="submit_search" value=""></button>
        <div class="clear"></div>
        <div class="main_top_word_search main_result_ajax_search" style="display: none;">
        </div>
    </form>

    <script>

                var access_do_ajax = true;

                function ajax_search() {

                    var length_text = jQuery('#txt_search').val().length;
                    if (length_text >= 4 && access_do_ajax) {

                        access_do_ajax = false;

                        //jQuery('.main_result_ajax_search').show(0);
                        //jQuery('.main_result_ajax_search').html('<p style="color:green;">در حال جستجو...</p>');

                        jQuery.ajax({
                            type: "GET",
                            url: ajax_url,
                            data: {
                                action: 'ajax_search_onliner',
                                s: jQuery('#txt_search').val(),
                                post_type: 'product'
                            },
                            success: function (msg) {

                                jQuery('.main_result_ajax_search').show(0);
                                jQuery('.main_result_ajax_search').html(msg);

                                access_do_ajax = true;
                                console.log('SEARCH SUCCESS!');
                            }
                        });

                    } else {

                        jQuery('.main_result_ajax_search').hide(0);
                        jQuery('.main_result_ajax_search').html('');
                    }

                }
            </script>


</div>

<div class="nk_second_content_header">


    @if (User.Identity.IsAuthenticated)
    {
        @if (_authorizationService.AuthorizeAsync(User, "SeniorProgrammer").Result.Succeeded)
        {
            <div class="main_login_register ">
                <div class="title_login_register">
                    <strong>@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</strong>
                </div>
                <div class="main_content_login_register" style="display: none;">
                    <div class="content_login_register">
                    @* <strong> @_userManager.GetUserAsync(User).Result.FirstName</strong> *@
                        <div class="nk_main_avatar_header">
                            <img src="~/BackEnd/Admin/images/avatars/AdminAvatar.png" srcset="~/BackEnd/Admin/images/avatars/AdminAvatar.png" class="avatar avatar-65 photo" height="200" width="200">
                            <div class="nk_main_link_panels_header">
                                <a class="nk_go_to_dashboard" target="_blank" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    پنل برنامه نویس ارشد
                                </a>
                            </div>
                        </div>
                        <a class="nk_go_to_my_orders"  asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-file-text-o"></i>
                            ورود به پنل مدیریت
                        </a>
                        <a class="nk_logout_my_account" asp-area="Auth" asp-controller="Account" asp-action="LogOut">
                            <i class="fa fa-sign-out"></i>خروج از حساب کاربری
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (_authorizationService.AuthorizeAsync(User, "AdminRole").Result.Succeeded)
        {
            <div class="main_login_register ">
                <div class="title_login_register">
                    <strong>@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</strong>
                </div>
                <div class="main_content_login_register" style="display: none;">
                    <div class="content_login_register">
                        @* <strong>عزیز @_userManager.GetUserAsync(User).Result.FirstName</strong> *@
                        <div class="nk_main_avatar_header">
                            <img src="~/BackEnd/Admin/images/avatars/AdminAvatar.png" srcset="~/BackEnd/Admin/images/avatars/AdminAvatar.png" class="avatar avatar-65 photo" height="200" width="200">
                            <div class="nk_main_link_panels_header">
                                <a class="nk_go_to_dashboard" target="_blank" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    پنل مدیر ارشد 
                                </a>
                            </div>
                        </div>
                        <a class="nk_go_to_my_orders"  asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-file-text-o"></i>
                            ورود به پنل مدیریت
                        </a>
                        <a class="nk_logout_my_account" asp-area="Auth" asp-controller="Account" asp-action="LogOut">
                            <i class="fa fa-sign-out"></i>خروج از حساب کاربری
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (_authorizationService.AuthorizeAsync(User, "OwnerRole").Result.Succeeded)
        {
            <div class="main_login_register ">
                <div class="title_login_register">
                    <strong>@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</strong>
                </div>
                <div class="main_content_login_register" style="display: none;">
                    <div class="content_login_register">
                        @* <strong>عزیز @_userManager.GetUserAsync(User).Result.FirstName</strong> *@
                        <div class="nk_main_avatar_header">
                            <img src="~/BackEnd/Owner/images/avatars/SellerAvatar.jpg" srcset="~/BackEnd/Owner/images/avatars/SellerAvatar.jpg" class="avatar avatar-65 photo" height="200" width="200">
                            <div class="nk_main_link_panels_header">
                                <a class="nk_go_to_dashboard" target="_blank" asp-area="Owner" asp-controller="Home" asp-action="Index">
                                    پنل فروشندگان
                                </a>
                            </div>
                        </div>
                        <a class="nk_go_to_my_orders"  asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-file-text-o"></i>
                            ورود به پنل مدیریت
                        </a>
                        <a class="nk_logout_my_account" asp-area="Auth" asp-controller="Account" asp-action="LogOut">
                            <i class="fa fa-sign-out"></i>خروج از حساب کاربری
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (_authorizationService.AuthorizeAsync(User, "UserRole").Result.Succeeded)
        {
            <div class="main_login_register ">
                <div class="title_login_register">
                    <strong>@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</strong>
                </div>
                <div class="main_content_login_register" style="display: none;">
                    <div class="content_login_register">
                        @* <strong>عزیز @_userManager.GetUserAsync(User).Result.FirstName</strong> *@
                        <div class="nk_main_avatar_header">
                            <img src="~/BackEnd/User/images/avatars/UserAvatar.jpg" srcset="~/BackEnd/User/images/avatars/UserAvatar.jpg" class="avatar avatar-65 photo" height="200" width="200">
                            <div class="nk_main_link_panels_header">
                                <a class="nk_go_to_dashboard" target="_blank" asp-area="User" asp-controller="Home" asp-action="Index">
                                    پنل کاربر
                                </a>
                            </div>
                        </div>
                        <a class="nk_go_to_my_orders"  asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-file-text-o"></i>
                            ورود به پنل مدیریت
                        </a>
                        <a class="nk_logout_my_account" asp-area="Auth" asp-controller="Account" asp-action="LogOut">
                            <i class="fa fa-sign-out"></i>خروج از حساب کاربری
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="main_login_register ">
            <a asp-area="Auth" asp-controller="Account" asp-action="CheckOut" class="title_login_register">
                <strong>
                    ورود /
                    ثبت‌نام
                </strong>
            </a>
        </div>
    }


    <div class="between_border "></div>
    <div class="header_cart_button " rel="nofollow">
        <a rel="nofollow" class="cart_page_url"
           href="https://newkalatheme.ir/preview/cart/">
            <strong
                class="title_cart_mini_newkala">
                سبد خرید
            </strong> <span class="header-icons-noti">0</span>
        </a>


        <div class="nk_mini_cart_wrapper" style="display: none;">
            <div class="mini_cart_arrow"></div>


            <p class="woocommerce-mini-cart__empty-message">هیچ محصولی در سبد خرید نیست.</p>


        </div>

    </div>


</div>

</div>
</header>