@using Application.Services.FrontEnd.Basket
@model BasketDto

@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Items.Count != 0)
{
    <!--  cart------------------>
    <div class="col-12">
        <div class="page-content">
            <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                <div class="checkout-tab">
                    <div class="checkout-tab-pill listing-active-cart">
                        سبد خرید
                        <span class="checkout-tab-counter">@Model.Items.Count</span>
                    </div>
                    @* <div class="checkout-tab-pill">لیست خرید بعدی</div> *@
                </div>

            </div>
        </div>
        <div class="cart-tab-main">

            <div class="col-lg-9 col-md-9 col-xs-12 pull-right">
                @foreach (var item in Model.Items)
                {
                    <div class="page-content-cart">
                        <form asp-controller="Basket" asp-action="" method="post">
                            <div class="header-express">
                                @* <span class="checkout-header-title"><i class="fa fa-truck"></i>ارسال عادی</span> *@
                                @* <span class="header-extra-info">(۱ *@
                                @*     کالا)</span> *@
                                @* <span class="checkout-header-delivery-cost">هزینه ارسال:رایگان</span> *@
                            </div>

                            <div class="checkout-body">
                                <a href="~/basket/RemoveItemFromBasket/@item.Id" class="remove-from-cart">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a asp-controller="Products"
                                   asp-action="Details"
                                   asp-route-MenuName="@item.subMenuEnSgname.Replace(" ", "-")"
                                   asp-route-PrdName="@item.ProductName.Replace(" ", "-")"
                                   class="col-thumb">
                                    <img src="~/Images/Menus/1.jpg" alt="@item.ProductName">
                                </a>

                                <div class="checkout-col-desc">
                                    <a href="#">
                                        <h3>
                                            @item.ProductName
                                        </h3>
                                    </a>
                                    <div class="checkout-variant-color">
                                        @* <span class="checkout-variant-title">سفید</span> *@
                                        @* <div class="checkout-variant-shape"></div> *@
                                        <div class="checkout-guarantee">
                                            <i class="fa fa-check"></i>
                                            @item.UnitPrice
                                        </div>
                                        @* <div class="checkout-dealer"><i class="fa fa-check"></i>کالا پلاس</div> *@
                                    </div>

                                    <div class="quantity">
                                        @* <label for="quantity-@item.Id">@item.Quantity</label> *@
                                        <input type="number"
                                               onchange="SetQuantity('@item.Id')"
                                               id="quantity-@item.Id"
                                               value="@item.Quantity"
                                               step="1"
                                               min="1"
                                               max="">
                                    </div>


                                    <a href="#" class="add-to-sfl">
                                        @* ذخیره در لیست خرید بعدی *@
                                        <div class="cart-item-product-price">

                                            @{
                                                var price = (item.UnitPrice * item.Quantity);
                                                @price.ToString("n0")
                                            }
                                            <span>
                                                تومان
                                            </span>
                                        </div>

                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>
                }


                <div class="checkout-to-shipping-sticky">
                    <a href="~/basket/shipping-payment" class="selenium-next-step-shipping">ادامه فرآیند خرید</a>
                    <div class="checkout-to-shipping-price-report">
                        <p>مبلغ قابل پرداخت</p>
                        <div class="cart-item-product-price">
                            @{
                                var totalPrice = Model.Items.Sum(p => p.UnitPrice * p.Quantity);
                                var tax = Math.Round((decimal) (totalPrice * 0.09));
                                var totalPay = tax + totalPrice;
                            }
                            <span>
                                @totalPay.ToString("n0") تومان
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 pull-left">
                <div class="page-aside">
                    <div class="checkout-summary">
                        <ul class="checkout-summary-summary">
                            <li>
                                <span>مبلغ کل (@Model.Items.Count کالا)</span>
                                <span>
                                    @*  @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0") *@
                                </span>
                            </li>
                            <li>
                                <span>جمع</span>
                                <span>
                                    @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0") تومان
                                </span>
                            </li>
                            <li>
                                <span style="color: #424750; font-size:14px;">هزینه مالیات</span>
                                <span></span>
                            </li>
                            <li>
                                <span><i class="fa fa-percent"></i>ارزش افزوده %9</span>
                                <span>
                                    @tax.ToString("n0") تومان
                                </span>
                            </li>
                            <li>
                                <span>مبلغ قابل پرداخت</span>
                                <span>@totalPay.ToString("n0") تومان</span>
                            </li>
                            @* <li class="checkout-digiclub-container"> *@
                            @*     <span class="checkout-digiclub-row"> *@
                            @*         <img src="assets/images/digiclub.png"> *@
                            @*         <span class="checkout-digiclub-points"> *@
                            @*             امتیاز دیجی‌کلاب *@
                            @*         </span> *@
                            @*     </span> *@
                            @*     <span class="checkout-digiclub-row">150 *@
                            @*         <span class="checkout-bill-currency"> *@
                            @*             امتیاز *@
                            @*         </span> *@
                            @*     </span> *@
                            @* </li> *@
                        </ul>
                    </div>
                    <div class="checkout-summary-content">
                        <p>کالاهای موجود در سبد شما ثبت نهایی و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی را تکمیل کنید.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  cart------------------>

    <script>
    function SetQuantity(itemId) {
        var quantity = $("#quantity-"+itemId).val();
        $.ajax({
            type: "POST",
            url: "/basket/setquantity?basketItemId=" + itemId + "&&quantity=" + quantity,
            success: function () {
                location.reload();
            }
        })
    }
</script>
}
else
{
    <div class="col-12">
        <div class="cart-page">
            <div class="container">
                <div class="checkout-empty">
                    <div class="checkout-empty-empty-cart-icon"></div>
                    <div class="checkout-empty-title">سبد خرید شما خالی است!</div>
                    <div class="col-lg-6 col-md-6!important col-xs-12 mx-auto">
                        <div class="checkout-empty-links">

                            <p>
                                می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید
                            </p>
                            <div class="checkout-empty-link-urls">
                                <a href="/search">
                                    محصولات
                                </a>
                                <a asp-controller="Blogs" asp-action="Index">
                                    مجله
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}