@using EndPoint.WebSite.Models.ViewModel.Baskets
@using Application.Services.FrontEnd.Common
@model ShippingPaymentViewModel
@inject ISiteSetting SiteSetting;

@{
    ViewData["Title"] = "پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--shopping--------------------->

    <section class="shopping-page">
        <div class="container">
            <div class="header-shopping-logo">
                <a href="#">
                    <img src="@SiteSetting.GetSiteSetting().LogoImage" alt="Logo"></a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <ul class="checkout-steps">
                    <li class="is-completed is-completed-active">
                        <a href="shopping.html" class="checkout-steps-item-link active-link-shopping">
                            <span>اطلاعات ارسال</span>
                        </a>
                    </li>
                    <li class="is-completed">
                        <a href="" class="checkout-steps-item-link active-link-shopping">
                            <span>پرداخت</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="" class="checkout-steps-item active-link">
                            <span>اتمام خرید و ارسال</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
<form  asp-action="ShippingPayment" method="post">
    <div class="main-shopping">
            <div class="content-shopping">
                <div class="col-lg-9 col-md-9 col-xs-12 pull-right">
                    <div class="shipment-page-container">
                        <div class="headline-checkout-shopping">
                            <span>انتخاب آدرس</span>
                        </div>
                        <div class="payment">
                            <ul class="checkout-paymethod">
                                @{ var i = 0;}
                                @foreach (var item in Model.UserAddresses)
                                {
                                    i++;
                                    <li class="wallet-container">
                                        <div class="checkout-paymethod-item">
                                            <span class="mdi mdi-card-text-outline"></span>
                                            <label for="address-@item.Id" class="radio-primary">
                                                <input id="address-@item.Id" type="radio" name="address" value="@item.Id" checked="@(i == 0 ? "checked" : "")">
                                                <span class="ui-radio-check"></span>
                                            </label>
                                            <h4 class="checkout-paymethod-title">
                                                <p class="checkout-paymethod-title-label">انبار: @item.PostalAddress</p>
                                                <div class="paymethod-wallet-amount">
                                                    <span>نام گیرنده:</span>
                                                    @* <span class="wallet-amount">0</span> *@
                                                    <span class="checkout-paymethod-currency">@item.ReciverName</span>
                                                </div>
                                            </h4>
                                            <div class="wallet-extra-info">
                                                <span class="wallet-needed-money"></span>
                                                @item.City-@item.State-@item.PostalAddress-@item.ZipCode
                                            </div>
                                            <div class="checkout-paymethod-by-digipay">
                                                <img src="@SiteSetting.GetSiteSetting().ThumbnailLogoImage">
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        @* <div class="headline-checkout-shopping"> *@
                        @*     <span>خلاصه سفارش</span> *@
                        @* </div> *@
                        <div class="checkout-order-summary">
                            @* <div class="checkout-order-summary-item"> *@
                            @*     <button class="btn btn-light btn-checkout" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> *@
                            @*         <header class="checkout-order-summary-header"> *@
                            @*             <i class="fa fa-chevron-down arrow"></i> *@
                            @*             <div class="checkout-order-summary-row"> *@
                            @*                 <div class="checkout-order-summary-col-post-time">مرسوله 1 از 1 *@
                            @*                     <span>(۱ کالا)</span> *@
                            @*                 </div> *@
                            @*                 <div class="checkout-order-summary-col-post-time">زمان ارسال *@
                            @*                     <span>بازه جمعه ۸ آذر - سه‌شنبه ۱۲ آذر</span> *@
                            @*                 </div> *@
                            @*                 <div class="checkout-order-summary-col-shipping-cost"> *@
                            @*                     مبلغ مرسوله *@
                            @*                     <span>423,000,0 تومان</span> *@
                            @*                 </div> *@
                            @*             </div> *@
                            @*         </header> *@
                            @*     </button> *@
                            @*     <div class="collapse float-right" id="collapseExample"> *@
                            @*         <div class="checkout-order-summary-content"> *@
                            @*             <section class="swiper-order-summary"> *@
                            @*                 <div class="swiper-container"> *@
                            @*                     <div class="col-lg-5 col-md-6 col-xs-12"> *@
                            @*                         <div class="product-box-container"> *@
                            @*                             <div class="product-box-compact"> *@
                            @*                                 <a href="#"> *@
                            @*                                     <img src="assets/images/product-slider-2/111460776.jpg"> *@
                            @*                                 </a> *@
                            @*                                 <div class="product-box-title"> *@
                            @*                                     گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ... *@
                            @*                                 </div> *@
                            @*                                 <div class="checkout-order-summary-tagline"> *@
                            @*                                     <span>تعداد : 1 عدد</span> *@
                            @*                                 </div> *@
                            @*                             </div> *@
                            @*                         </div> *@
                            @*                     </div> *@
                            @*                 </div> *@
                            @*             </section> *@
                            @*         </div> *@
                            @*     </div> *@
                            @* </div> *@
                            <div class="checkout-to-shipping-sticky">
                                <button type="submit" class="selenium-next-step-shipping">ادامه فرآیند خرید</button>
                                <div class="checkout-to-shipping-price-report">
                                    <p>مبلغ قابل پرداخت</p>
                                      @{
                                        var totalPrice = Model.basket.Items.Sum(p => p.UnitPrice * p.Quantity);
                                        var tax = Math.Round((decimal) (totalPrice * 0.09));
                                        var totalPay = (tax + totalPrice).ToString("n0");
                                    }
                                    <div class="cart-item-product-price">
                                        @totalPay
                                        <span>تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    @* <div class="grid"> *@
                    @*     <div class="checkout-price-options"> *@
                    @*         <section class="checkout-price-options-container"> *@
                    @*             <div class="checkout-price-options-header"> *@
                    @*                 <span>استفاده از کد تخفیف دیجی‌استور</span> *@
                    @*             </div> *@
                    @*             <div class="checkout-price-options-content"> *@
                    @*                 <p>با ثبت کد تخفیف، مبلغ کد تخفیف از “مبلغ قابل پرداخت” کسر می‌شود.</p> *@
                    @*             </div> *@
                    @*             <div class="checkout-price-options-row"> *@
                    @*                 <div class="checkout-price-options-form-field"> *@
                    @*                     <input type="text" name="gift-card-serial" class="input-field" *@
                    @*                         placeholder="مثلا 837A2CS"> *@
                    @*                 </div> *@
                    @*                 <button class="checkout-price-options-form-button"><a href="#" class="gift">ثبت کد *@
                    @*                         هدیه</a></button> *@
                    @*             </div> *@
                    @*         </section> *@
                    @*     </div> *@
                    @* </div> *@
    
    
    
                    <div class="checkout-actions">
                        <a href="/basket" class="btn-link-spoiler">
                            « بازگشت به سبد خرید
                        </a>
                        @* <a href="#" class="save-shipping-data"> *@
                        @*     تایید و ادامه ثبت سفارش » *@
                        @* </a> *@
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-xs-12 pull-left">
                    <div class="page-aside" style="margin-top: 95px;">
                        <div class="checkout-summary">
                            <ul class="checkout-summary-summary">
                                <li>
                                    <span>مبلغ کل (@Model.basket.Items.Count)</span>
                                    <span>@totalPay تومان</span>
                                </li>
                                @* <li> *@
                                @*     <span>جمع</span> *@
                                @*     <span>۳,۴۲۰,۰۰۰ تومان</span> *@
                                @* </li> *@
                                @* <li> *@
                                @*     <span style="color: #424750; font-size:14px;">هزینه ارسال</span> *@
                                @*     <span></span> *@
                                @* </li> *@
                                @* <li> *@
                                @*     <span><i class="fa fa-truck"></i>ارسال عادی</span> *@
                                @*     <span>رایگان</span> *@
                                @* </li> *@
                                <li>
                                    <span>مبلغ قابل پرداخت</span>
                                    <span>@totalPay تومان</span>
                                </li>
                                @* <li class="checkout-digiclub-container"> *@
                                @*     <span class="checkout-digiclub-row"> *@
                                @*         <img src="assets/images/digiclub.png"> *@
                                @*         <span class="checkout-digiclub-points"> *@
                                @*             امتیاز دیجی‌کلاب *@
                                @*         </span> *@
                                @*     </span> *@
                                @*     <span class="checkout-digiclub-row">150 *@
                                @*         <span class="checkout-bill-currency"> *@
                                @*             امتیاز *@
                                @*         </span> *@
                                @*     </span> *@
                                @* </li> *@
                            </ul>
                        </div>
                        <div class="checkout-summary-content">
                            <p>کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی را تکمیل کنید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
    
    <!--shopping--------------------->