@using Application.Services.FrontEnd.Common.Menus.Queries
@model ResultGetMenusFrontEndDto

@{
    Layout = null;
}

@foreach (var item in Model.Menus)
{
   <li class="item-list-menu megamenu-1 nav-overlay">
        <a asp-controller="Products"
           asp-action="CategoryFirstGroup"
            asp-route-FirstGroupName="@item.EnName" class="list-category first after"
           style="font-weight: bold;">
            <i class="mdi mdi-sale text-danger"></i>
             @item.Name
        </a>
       <ul class="list-menu-level-2 list-menu-discounts-offers">
              @foreach (var subItem in item.Sub)
                       {
           <div class="menu-level-3">
               <li class="discounts-offers-item">
                   <a asp-controller="Products"
                      asp-action="CategorySecoundGroup"
                      asp-route-SecoundGroupName="@subItem.EnFgname" class="list-category-megamenu-3">
                       <span>
                           @subItem.Fgname
                           <i
                               class="fa fa-angle-left">
                           </i>
                       </span>
                   </a>
               </li>
                 @foreach (var subSunItem in subItem.SubSub)
                   {
                       <li class="discounts-offers-item">
                           <a asp-controller="Products"
                              asp-action="Category"
                              asp-route-MenuName="@subSunItem.EnSgname" class="list-category-megamenu-3 list-category-megamenu-3-medium">
                               <span
                                   class="medium-display-title">
                                 @subSunItem.Sgname
                               </span>
                           </a>
                       </li>
                       }
           </div>
                           }

           <div class="main-banner">
               <a href="#">
                   <img src="assets/images/banner.jpg">
               </a>
           </div>
       </ul>
    </li>

}


    