@using Application.Services.BackEnd.Admin.AboutUs
@using Application.Services.FrontEnd.Common
@model AboutUsDto
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/extensions/bootstrap-treeview.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/plugins/extensions/ext-component-treeview.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css">
}

@section Foo{
    <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/extensions/bootstrap-treeview.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/extensions/ext-component-treeview.min.js"></script>
    <script> $('div.alert').delay(3000).slideUp(300); </script>
     <partial name="_CkEditorScriptsPartial"/>
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            
            @if (TempData["IsSuccess"] != null)
            {
                @if (Convert.ToBoolean(TempData["IsSuccess"]) == true)
                {
                    <div class="alert alert-success">
                        @TempData["Message"]
                    </div>
                }

                else if (Convert.ToBoolean(TempData["IsSuccess"]) == false)
                {
                    <div class="alert alert-danger">
                        @TempData["Message"]
                    </div>
                }
            }
            
            <!-- app invoice View Page -->

            <form asp-area="Admin" asp-controller="AboutUs" asp-action="Edit" asp-route-id="@Model.Id" method="post">
                <section class="invoice-edit-wrapper">

                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body pb-0 mx-25">

                                        <!-- header section -->
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-12 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.ImageUrl"></label>
                                                <input asp-for="@Model.ImageUrl" type="text" class="form-control" placeholder="لینک را وارد کنید">
                                                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.Member1"></label>
                                                <input asp-for="@Model.Member1" type="text" class="form-control" placeholder="لینک را وارد کنید">
                                                <span asp-validation-for="@Model.Member1" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.MemberSide1"></label>
                                                <input asp-for="@Model.MemberSide1" type="text" class="form-control" placeholder="سمت را وارد کنید">
                                                <span asp-validation-for="@Model.MemberSide1" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.FullName1"></label>
                                                <input asp-for="@Model.FullName1" type="text" class="form-control" placeholder="نام کامل را وارد کنید">
                                                <span asp-validation-for="@Model.FullName1" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row my-2 py-50">
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.Member2"></label>
                                                <input asp-for="@Model.Member2" type="text" class="form-control" placeholder="عنوان را وارد کنید">
                                                <span asp-validation-for="@Model.Member2" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.MemberSide2"></label>
                                                <input asp-for="@Model.MemberSide2" type="text" class="form-control" placeholder="سمت را وارد کنید">
                                                <span asp-validation-for="@Model.MemberSide2" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.FullName2"></label>
                                                <input asp-for="@Model.FullName2" type="text" class="form-control" placeholder="نام کامل را وارد کنید">
                                                <span asp-validation-for="@Model.FullName2" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.Member3"></label>
                                                <input asp-for="@Model.Member3" type="text" class="form-control" placeholder="عنوان را وارد کنید">
                                                <span asp-validation-for="@Model.Member3" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.MemberSide3"></label>
                                                <input asp-for="@Model.MemberSide3" type="text" class="form-control" placeholder="سمت را وارد کنید">
                                                <span asp-validation-for="@Model.MemberSide1" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4 col-12 order-2 order-sm-1">
                                                <label asp-for="@Model.FullName3"></label>
                                                <input asp-for="@Model.FullName3" type="text" class="form-control" placeholder="نام کامل را وارد کنید">
                                                <span asp-validation-for="@Model.FullName3" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row invoice-info">
                                            <div class="col-lg-12 col-md-12 mt-25">
                                                <label asp-for="@Model.Body"></label>
                                                <fieldset class="invoice-address form-group">
                                                    <textarea asp-for="@Model.Body" class="form-control" rows="20" style="margin-top: 0px; margin-bottom: 0px; height: 700px;"></textarea>
                                                    <span asp-validation-for="@Model.Body" class="text-danger"></span>
                                                </fieldset>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button>
            </form>
        </div>
    </div>
</div>
