@using Application.Services.FrontEnd.Common.Footers.Queries
@model FooterFrontEndDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

@{
    Layout = null;
}

  <!--   Footer---------------------------->
    <footer>
        <div class="footer-jump">
            <a href="#">
                <span class="footer-jump-angle"><i class="fa fa-angle-up"></i>برگشت به بالا</span>
            </a>
        </div>

        <div class="container">
            <div class="footer-inner-box">
                <a href="#" class="footer-badge">
                    <img src="assets/images/footer-svg/delivery.svg">
                    <span class="item-feature">تحویل اکسپرس</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="assets/images/footer-svg/contact-us.svg">
                    <span class="item-feature">پشتیبانی 24 ساعته</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="assets/images/footer-svg/payment-terms.svg">
                    <span class="item-feature">پرداخت در منزل</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="assets/images/footer-svg/return-policy.svg">
                    <span class="item-feature">7 روز ضمانت برگشت</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="assets/images/footer-svg/origin-guarantee.svg">
                    <span class="item-feature">ضمانت اصل بودن کالا</span>
                </a>
            </div>
        </div>
        @* <div class="col-12"> *@
        @*     <div class="middle-bar-footer"> *@
        @*         <div class="col-lg-6 col-xs-12 pull-right"> *@
        @*             <div class="footer-links"> *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">راهنمای خرید از دیجی‌استور</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">نحوه ثبت سفارش</a></li> *@
        @*                         <li><a href="#">رویه ارسال سفارش</a></li> *@
        @*                         <li><a href="#">شیوه‌های پرداخت</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @* *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">خدمات مشتریان</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">پرسش یه پاسخ های متداول</a></li> *@
        @*                         <li><a href="#">رویه های بازگرداندن کالا</a></li> *@
        @*                         <li><a href="#">شرایط استفاده</a></li> *@
        @*                         <li><a href="#">حریم خصوصی</a></li> *@
        @*                         <li><a href="#">گزارش باگ</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @* *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">با دیجی استور</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">اتاق خبر دیجی استور</a></li> *@
        @*                         <li><a href="#">فروش در دیجی استور</a></li> *@
        @*                         <li><a href="#">فرصت های شغلی</a></li> *@
        @*                         <li><a href="#">تماس با دیجی استور</a></li> *@
        @*                         <li><a href="#">درباره ما دیجی استور</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @* *@
        @*         <div class="col-lg-4 col-xs-12 pull-left"> *@
        @*             <div class="footer-form"> *@
        @*                 <span class="newslitter-form">از تخفیف‌ها و جدیدترین‌های دیجی‌استور باخبر *@
        @*                     شوید: *@
        @*                 </span> *@
        @* *@
        @*                 <form action="#"> *@
        @*                     <input type="text" class="input-footer" placeholder="آدرس ایمیل خود را وارد کنید"> *@
        @* *@
        @*                     <button class="btn-footer-post">ارسال</button> *@
        @*                 </form> *@
        @*             </div> *@
        @* *@
        @*             <div class="footer-social"> *@
        @*                 <span class="newslitter-form-social">دیجی‌استور را در شبکه‌های اجتماعی دنبال کنید:</span> *@
        @* *@
        @*                 <div class="social-links"> *@
        @*                     <a href="#"><i class="fa fa-instagram"></i></a> *@
        @*                     <a href="#"><i class="fa fa-twitter"></i></a> *@
        @*                     <a href="#"><i class="fa fa-facebook"></i></a> *@
        @*                     <a href="#"><i class="fa fa-linkedin-square"></i></a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        <div class="col-12">
            <div class="footer-address">
                <div class="footer-contact">
                    <ul>
                        <li>هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</li>
                        <li style="float:right">شماره تماس : <a href="#" class="phone-contact">@Model.PhoneNumber1</a></li>
                        <li class="email-title">آدرس دفتر : <a href="#">@Model.OfficeAddress</a></li>
                        <li class="email-title">آدرس انبار : <a href="#">@Model.FactoryAddress</a></li>
                    </ul>
                </div>

                <div class="address-images">
                    <a href="#">
                        <img src="@Model.Photo1">
                        <img src="@Model.Photo2">
                    </a>
                </div>
            </div>
        </div>

        <div class="more-info">
            <div class="col-12">
                <div class="about-site">
                    <h1>فروشگاه آنلاین محصولات آهن و و فولاد درباره فروشگاه اینترنتی  @_siteSetting.GetSiteSetting().SiteName</h1>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>

                    <div class="footer-inner-box">
                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo3" style="width: 130px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo4" style="width: 130px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo5" style="width: 130px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo6" style="width: 130px !important;">
                        </a>
                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo7" style="width: 130px !important;">
                        </a>
                    </div>
                </div>

                <div class="copy-right-footer">
                    <p>
                  استفاده از مطالب  @_siteSetting.GetSiteSetting().SiteName  برای مقاصد غیرتجاری با ذکر نام @_siteSetting.GetSiteSetting().SiteName  و لینک
                                   به منبع بلامانع است. حقوق این سایت به <span class="white fontIran">شرکت  @_siteSetting.GetSiteSetting().SiteName</span> تعلق
                                   دارد. Copyright © 2010 &#8211; 2021
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--   Footer---------------------------->