@using Application.Services.FrontEnd.Common.Footers.Queries
@model FooterFrontEndDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

@{
    Layout = null;
}

  <!--   Footer---------------------------->
    <footer>
        <div class="footer-jump">
            <a href="#">
                <span class="footer-jump-angle"><i class="fa fa-angle-up"></i>برگشت به بالا</span>
            </a>
        </div>

        <div class="container">
            <div class="footer-inner-box">
                <a href="#" class="footer-badge">
                    <img src="/assets/images/footer-svg/delivery.svg">
                    <span class="item-feature">تحویل اکسپرس</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="/assets/images/footer-svg/contact-us.svg">
                    <span class="item-feature">پشتیبانی 24 ساعته</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="/assets/images/footer-svg/payment-terms.svg">
                    <span class="item-feature">پرداخت در منزل</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="/assets/images/footer-svg/return-policy.svg">
                    <span class="item-feature">7 روز ضمانت برگشت</span>
                </a>

                <a href="#" class="footer-badge">
                    <img src="/assets/images/footer-svg/origin-guarantee.svg">
                    <span class="item-feature">ضمانت اصل بودن کالا</span>
                </a>
            </div>
        </div>
        @* <div class="col-12"> *@
        @*     <div class="middle-bar-footer"> *@
        @*         <div class="col-lg-6 col-xs-12 pull-right"> *@
        @*             <div class="footer-links"> *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">راهنمای خرید از دیجی‌استور</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">نحوه ثبت سفارش</a></li> *@
        @*                         <li><a href="#">رویه ارسال سفارش</a></li> *@
        @*                         <li><a href="#">شیوه‌های پرداخت</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @* *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">خدمات مشتریان</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">پرسش یه پاسخ های متداول</a></li> *@
        @*                         <li><a href="#">رویه های بازگرداندن کالا</a></li> *@
        @*                         <li><a href="#">شرایط استفاده</a></li> *@
        @*                         <li><a href="#">حریم خصوصی</a></li> *@
        @*                         <li><a href="#">گزارش باگ</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @* *@
        @*                 <div class="links-col"> *@
        @*                     <a href="#" class="head-line">با دیجی استور</a> *@
        @*                     <ul class="links-ul"> *@
        @*                         <li><a href="#">اتاق خبر دیجی استور</a></li> *@
        @*                         <li><a href="#">فروش در دیجی استور</a></li> *@
        @*                         <li><a href="#">فرصت های شغلی</a></li> *@
        @*                         <li><a href="#">تماس با دیجی استور</a></li> *@
        @*                         <li><a href="#">درباره ما دیجی استور</a></li> *@
        @*                     </ul> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @* *@
        @*         <div class="col-lg-4 col-xs-12 pull-left"> *@
        @*             <div class="footer-form"> *@
        @*                 <span class="newslitter-form">از تخفیف‌ها و جدیدترین‌های دیجی‌استور باخبر *@
        @*                     شوید: *@
        @*                 </span> *@
        @* *@
        @*                 <form action="#"> *@
        @*                     <input type="text" class="input-footer" placeholder="آدرس ایمیل خود را وارد کنید"> *@
        @* *@
        @*                     <button class="btn-footer-post">ارسال</button> *@
        @*                 </form> *@
        @*             </div> *@
        @* *@
        @*             <div class="footer-social"> *@
        @*                 <span class="newslitter-form-social">دیجی‌استور را در شبکه‌های اجتماعی دنبال کنید:</span> *@
        @* *@
        @*                 <div class="social-links"> *@
        @*                     <a href="#"><i class="fa fa-instagram"></i></a> *@
        @*                     <a href="#"><i class="fa fa-twitter"></i></a> *@
        @*                     <a href="#"><i class="fa fa-facebook"></i></a> *@
        @*                     <a href="#"><i class="fa fa-linkedin-square"></i></a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        
        <div class="more-info">
            <div class="col-12">
                <div class="address-site">
                      <div class="footer-contact">
                           <ul>
                               <li class="email-title">شماره تماس : <a href="tel:@Model.PhoneNumber1" class="phone-contact">@Model.PhoneNumber1</a></li>
                               <li class="email-title mt-3">ایمیل  : <a href="#" class="phone-contact">info@ecofoolad.com</a></li>
                               <li class="email-title mt-3">آدرس دفتر : <a href="#">@Model.OfficeAddress</a></li>
                               <li class="email-title mt-3">آدرس انبار : <a href="#">@Model.FactoryAddress</a></li>
                           </ul>
                       </div>
                </div>
                
                <div class="about-site">
                    <h1>فروشگاه آنلاین محصولات آهن و و فولاد @_siteSetting.GetSiteSetting().SiteName</h1>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>

                    <div class="footer-inner-box">
                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo1" alt="اینماد" style="width: 85px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo2" alt="ساماندهی" style="width: 85px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo8" alt="اتحادیه کشوری کسب و کار مجازی" style="width: 85px !important;">
                        </a>

                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo9" alt="نظام صنفی رایانه ای کشور" style="width: 85px !important;">
                        </a>
                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo10" alt="انجمن انفورماتیک ایران" style="width: 85px !important;">
                        </a>
                        
                        <a href="#" class="footer-badge">
                            <img src="@Model.Photo11" alt="شرکت های ارایه دهنده خدمات وب و موبایل" style="width: 85px !important;">
                        </a>
                    </div>
                </div>

                <div class="copy-right-footer">
                    <p>
                        استفاده از مطالب @_siteSetting.GetSiteSetting().SiteName برای مقاصد غیرتجاری با ذکر نام @_siteSetting.GetSiteSetting().SiteName و لینک
                        به منبع بلامانع است. تمامی حقوق این سایت به <a href="/"><span class="white fontIran">شرکت @_siteSetting.GetSiteSetting().SiteName</span></a> تعلق دارد. Copyright © 2010-2021
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--   Footer---------------------------->