@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using   Application.Services.BackEnd.Admin.Roles.Queries
@using   Domain.Entities
@using Domain.Entities.Users
@model ResultGetEditRolesDto
@inject RoleManager<Role> _roleManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ویرایش نقش";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script>
}

@section Foo{
    @* InHead *@
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">

            <!-- Colored Checkbox start -->
            <form asp-area="Admin"
                  asp-controller="Roles"
                  asp-action="Edit"
                  asp-route-id="@Model.Role.Id"
                  method="post"
                  enctype="multipart/form-data">


                <section id="checkbox-color">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">تعیین سطح دسترسی برای نقش "@Model.Role.Description"</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        @* <p></p> *@
                                        <ul class="list-unstyled mb-0">
                                            <li class="d-inline-block mr-2 mb-1">
                                                
                                                @for (int i = 0; i < Model.Claims.Count; i++)
                                                {
                                                    @if (Model.Claims[i].IsHead != null)
                                                    {
                                                        <hr>
                                                        <fieldset>
                                                            <div class="form-check">
                                                                @Html.CheckBoxFor(dto => dto.Claims[i].IsSelect)
                                                                <label style="text-decoration: underline;color: aqua;">@Model.Claims[i].ClaimName</label>
                                                                @Html.HiddenFor(dto => dto.Claims[i].Id)
                                                            </div>
                                                        </fieldset>
                                                        <script>
                                                        $('.selectAll input').addClass('selectAll_@i}');
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        var currentRole = _roleManager.FindByIdAsync(Model.Role.Id.ToString()).Result;
                                                        var claimsRole = _roleManager.GetClaimsAsync(currentRole).Result
                                                            .Where(c => c.Value == Model.Claims[i].ClaimValue).Select(c => c.Value).FirstOrDefault();

                                                        @if (claimsRole != null)
                                                        {
                                                            <fieldset style="margin-right: 20px">
                                                                <div class="form-check">
                                                                    @Html.CheckBoxFor(dto => dto.Claims[i].IsSelect, new {@class = "checked"})
                                                                    <label >@Model.Claims[i].ClaimName</label>
                                                                    @Html.HiddenFor(dto => dto.Claims[i].Id)
                                                                </div>
                                                            </fieldset>
                                                            
                                                                <script>
                                                                    $('.checked').prop('checked', true);
                                                                </script>
                                                        }
                                                        else
                                                        {
                                                            <fieldset style="margin-right: 20px">
                                                                <div class="form-check">
                                                                    @Html.CheckBoxFor(dto => dto.Claims[i].IsSelect)
                                                                    <label >@Model.Claims[i].ClaimName</label>
                                                                    @Html.HiddenFor(dto => dto.Claims[i].Id)
                                                                </div>
                                                            </fieldset>

                                                        }
                                                    }
                                                    <script>
                                                             $('.selectAll_@{@i}').change(function () {
                                                               if ($(this).prop('checked')) {
                                                                   $('#Claims_@{@i}__IsSelect').prop('checked', true);
                                                               } else {
                                                                   $('#Claims_@{@i}__IsSelect').prop('checked', false);
                                                               }
                                                           });
                                                           $('.selectAll_@{@i}').trigger('change');
                                                        </script>
                                                }
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Colored Checkbox end -->
                <button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button>
            </form>

        </div>
    </div>
</div>















