@using Microsoft.AspNetCore.Http.Extensions
@model Application.Services.FrontEnd.Products.Queries.GetProductsCategory.Dto.ResultGetProductsCategoryFrontEndDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companies = Context.Request.Query["CompanyId"];
    var sortTypeId = Context.Request.Query["SortType"];
    // var sortType = Context.Request.Query["SortType"];
    var currentUrl = Context.Request.GetDisplayUrl();
}
@section Head{
    <script src="~/assets/js/apexcharts.min.js"></script>
}

@section Scripts{
    
    @*---- sorted by Ajax ----*@
    <script>
       $(document).ready(function () {
                $(".sortType").on('click',function () {
                    $sortType = $(".sortType").val();
                    $.ajax({
                          type: 'get',
                          headers:{'RequestVerificationToken' :token},
                          url: currentUrl+'?SortType='+sortType,
                        success: function (data) {
                            $('#result-sortType').html(data);
                        }
                    });
                });
            });
    </script>
}

<!--        responsive-sidebar----------------------->
<div class="col-12">
<div class="header-filters">
<button class="btn-filter btn-filter-advanced" onclick="document.getElementById('modal-search').style.display='block'">جستجوی پیشرفته</button>
<button class="btn-filter btn-filter-direction" data-toggle="modal" data-target="#exampleModalCenter">پربازدیدترین</button>
<div class="remodal-search-advanced" id="modal-search">
<nav class="remodal-page-layout">
<button class="search-filter-remodal-close" onclick="document.getElementById('modal-search').style.display='none'">
    <i class="fa fa-close"></i>
</button>
<div class="remodal-page-header">لوازم جانبی گوشی موبایل</div>
<div class="remodal-page-main">

<div class="remodal-page-content">
    <div class="filter">
        <div class="toggle-box">
            <div class="toggle-box-active">
                <ul>
                    <li class="has-sub">
                        <a href="#">برند</a>
                        <ul>
                        <form asp-controller="Products" asp-action="Category" method="get">
                             @foreach (var items in Model.Companies)
                             {
                                 <li>
                                     <a href="#" class="filter-label">
                                         <div class="form-auth-row">
                                             <label for="#" class="ui-checkbox">
                                                 @if (companies.ToList().Any(p => p == items.CompanyId.ToString()))
                                                 {
                                                     <input type="checkbox" value="@items.CompanyId" checked name="CompanyId" onclick="submit();">
                                                 }
                                                 else
                                                 {
                                                     <input type="checkbox" value="@items.CompanyId" name="CompanyId" onclick="submit();">
                                                 }
                                                 <span class="ui-checkbox-check"></span>
                                             </label>
                                             <label for="remember" class="remember-me">@items.CmpName </label>
                                         </div>
                                     </a>
                                 </li>
                             }
                        </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="toggle-box">
            <div class="toggle-box-active">
                <ul>
                    <li class="has-sub">
                        <a href="#">فروشنده</a>
                        <ul>
                            <li>
                                <a href="#" class="filter-label">
                                    <div class="form-auth-row">
                                        <label for="#" class="ui-checkbox">
                                            <input type="checkbox" value="1" name="login"
                                                   id="remember">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me">دیجی‌استور</label>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="filter-label">
                                    <div class="form-auth-row">
                                        <label for="#" class="ui-checkbox">
                                            <input type="checkbox" value="1" name="login"
                                                   id="remember">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me">دیجی‌استور</label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="filter-label">
                                    <div class="form-auth-row">
                                        <label for="#" class="ui-checkbox">
                                            <input type="checkbox" value="1" name="login"
                                                   id="remember">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me">دیجی‌استور</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</nav>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 305px; margin:20px auto;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="remodal-header">مرتب‌سازی بر اساس</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="remodal-list-sort">
                <ul class="listing-sort nav nav-tabs" id="myTab" role="tablist" data-label="مرتب‌سازی بر اساس :">
                    <li class="listing-active nav-item">
                        <a class="nav-link active" id="mostvisited-tab" data-toggle="tab" href="#mostvisited" role="tab" aria-controls="mostvisited" aria-selected="true">پربازدید ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bestselling-tab" data-toggle="tab" href="#bestselling" role="tab" aria-controls="bestselling" aria-selected="false">
                            پرفروش
                            ترین
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mostpopular-tab" data-toggle="tab" href="#mostpopular" role="tab" aria-controls="mostpopular" aria-selected="false">
                            محبوب
                            ترین
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">جدید ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cheapest-tab" data-toggle="tab" href="#cheapest" role="tab" aria-controls="cheapest" aria-selected="false">ارزان ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mostexpensive-tab" data-toggle="tab" href="#mostexpensive" role="tab" aria-controls="mostexpensive" aria-selected="false">گران ترین</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--        responsive-sidebar----------------------->
<div class="col-lg-3 col-md-4 col-xs-12 float-right sticky-sidebar">
    <div class="sidebar-wrapper search-sidebar">


        <div class="box-slider">
            <div class="slider-sidebar" style="order: 0;">
                <div class="widget-suggestion widget card">
                    <header class="card-header promo-single-headline">
                        <h3 class="card-title">کارشناس ها</h3>
                    </header>
                    <div id="progressBar">
                        <div class="slide-progress" style="width: 100%; transition: width 5000ms ease 0s;"></div>
                    </div>
                    <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">
                                @foreach (var item in Model.Experts)
                                {
                                    <div class="owl-item cloned" style="width: 273.75px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="@item.ImageUrl" class="w-100" alt="@item.FirstName @item.LastName">
                                            </a>
                                            <div class="appcon">
                                                @* <i class="fa fa-instagram"></i> *@
                                                @* <i class="fa fa-whatsapp" aria-hidden="true"></i> *@
                                                @* <i class="fa fa-phone" aria-hidden="true"></i> *@
                                               <a href="tel:@item.PhoneNumber"><i class="fa fa-instagram"></i></a>
                                               <a href=><i class="fa fa-whatsapp"></i></a>
                                               <a href="tel:@item.PhoneNumber"><i class="fa fa-phone"></i></a>
                                            </div>


                                            <!-- <h3 class="product-title">
                                                <a href="#"> لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA - A</a>
                                            </h3> -->
                                            <div class="price">
                                                <!-- <del><span class="amount">۴,۵۳۰,۰۰۰<span>تومان</span></span></del> -->
                                                <span class="amount">@item.FirstName @item.LastName</span>
                                            </div>
                                        </div>
                                    </div> 
                                }
                            </div>
                        </div>
                        <div class="owl-nav disabled ">
                            <button type="button" role="presentation" class="owl-prev">
                                <span
                                    aria-label="Previous">
                                    ‹
                                </span>
                            </button>
                            <button type="button" role="presentation" class="owl-next">
                                <span aria-label="Next">›</span>
                            </button>
                        </div>
                        <div class="owl-dots enabled "></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box-sidebar">
            <button class="btn btn-light btn-box-sidebar" type="button" data-toggle="collapse" data-target="#collapseExampleSeller" aria-expanded="false" aria-controls="collapseExampleSeller">
                <i class="fa fa-chevron-down arrow"></i>فروشنده
            </button>
            <div class="collapse show" id="collapseExampleSeller">
                <div class="catalog">
                    <ul>
                        
                        @if (currentUrl.Contains("/main/category-"))
                        {
                            <form asp-controller="Products" asp-action="CategorySecoundGroup" method="get">
                                @foreach (var items in Model.Companies)
                                {
                                    <li>
                                        <a href="#" class="filter-label">
                                            <div class="form-auth-row">
                                                <label for="@items.CompanyId" class="ui-checkbox">
                                                    @if (companies.ToList().Any(p => p == items.CompanyId.ToString()))
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId" checked name="CompanyId" onclick="submit();">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId"  name="CompanyId" onclick="submit();">
                                                    }
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="@items.CompanyId" class="remember-me">@items.CmpName</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </form>
                        }
                        else if (currentUrl.Contains("/main/category-") == false && currentUrl.Contains("search/") == false)
                        {
                            <form asp-controller="Products" asp-action="CategoryFirstGroup" method="get">
                                @foreach (var items in Model.Companies)
                                {
                                    <li>
                                        <a href="#" class="filter-label">
                                            <div class="form-auth-row">
                                                <label for="@items.CompanyId" class="ui-checkbox">
                                                    @if (companies.ToList().Any(p => p == items.CompanyId.ToString()))
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId" checked name="CompanyId" onclick="submit();">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId"  name="CompanyId" onclick="submit();">
                                                    }
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="@items.CompanyId" class="remember-me">@items.CmpName</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </form>
                        }
                        else if (currentUrl.Contains("search/"))
                        {
                            <form asp-controller="Products" asp-action="Category" method="get">
                                @foreach (var items in Model.Companies)
                                {
                                    <li>
                                        <a href="#" class="filter-label">
                                            <div class="form-auth-row">
                                                <label for="@items.CompanyId" class="ui-checkbox">
                                                    @if (companies.ToList().Any(p => p == items.CompanyId.ToString()))
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId" checked name="CompanyId" onclick="submit();">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@items.CompanyId"  name="CompanyId" onclick="submit();">
                                                    }
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="@items.CompanyId" class="remember-me">@items.CmpName</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </form>
                        }
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
<div class="js-products">
    
<div class="listing-header">
    <span class="mdi mdi-sort-variant"></span>
    <ul class="listing-sort nav nav-tabs" id="myTab">
        @if (currentUrl.Contains("/main/category-"))
        {
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "0" || String.IsNullOrEmpty(sortTypeId) ? "active" : "")" asp-action="CategorySecoundGroup" asp-route-SortType="0" rell="nofollow">پیش فرض</a>
            </li>
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "1" ? "active" : "")" asp-action="CategorySecoundGroup" asp-route-SortType="1" rell="nofollow">پربازدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "4" ? "active" : "")" asp-action="CategorySecoundGroup" asp-route-SortType="4" rell="nofollow">جدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "5" ? "active" : "")" asp-action="CategorySecoundGroup" asp-route-SortType="5" rell="nofollow">ارزان ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "6" ? "active" : "")" asp-action="CategorySecoundGroup" asp-route-SortType="6" rell="nofollow">گران ترین</a>
            </li>
        }
        else if (currentUrl.Contains("/main/category-") == false && currentUrl.Contains("search/") == false)
        {
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "0" || String.IsNullOrEmpty(sortTypeId) ? "active" : "")" asp-action="CategoryFirstGroup" asp-route-SortType="0" rell="nofollow">پیش فرض</a>
            </li>
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "1" ? "active" : "")" asp-action="CategoryFirstGroup" asp-route-SortType="1" rell="nofollow">پربازدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "4" ? "active" : "")" asp-action="CategoryFirstGroup" asp-route-SortType="4" rell="nofollow">جدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "5" ? "active" : "")" asp-action="CategoryFirstGroup" asp-route-SortType="5" rell="nofollow">ارزان ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "6" ? "active" : "")" asp-action="CategoryFirstGroup" asp-route-SortType="6" rell="nofollow">گران ترین</a>
            </li>
        }
        else if (currentUrl.Contains("search/"))
        {
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "0" || String.IsNullOrEmpty(sortTypeId) ? "active" : "")" asp-action="Category" asp-route-SortType="0" rell="nofollow">پیش فرض</a>
            </li>
            <li class="listing-active nav-item">
                <a class="nav-link sortType @(sortTypeId == "1" ? "active" : "")" asp-action="Category" asp-route-SortType="1" rell="nofollow">پربازدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "4" ? "active" : "")" asp-action="Category" asp-route-SortType="4" rell="nofollow">جدید ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "5" ? "active" : "")" asp-action="Category" asp-route-SortType="5" rell="nofollow">ارزان ترین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sortType @(sortTypeId == "6" ? "active" : "")" asp-action="Category" asp-route-SortType="6" rell="nofollow">گران ترین</a>
            </li>
        }
    </ul>
</div>

<div class="listing-listing" style="margin-bottom: 2%; ">

<div class="content">
<p class="hash">@Model.FirstMenuName.Name</p>
    <div class="se">
        @if (currentUrl.Contains("/main/category-"))
         {
             <h2>@Model.SecoundMenuName.Fgname</h2>
         } 
        else if (currentUrl.Contains("/main/category-") == false && currentUrl.Contains("search/") == false)
         {
             <h2>@Model.FirstMenuName.Name</h2>
         }
         else if (currentUrl.Contains("search/"))
          {
              <h2>@Model.ThirdMenuName.Sgname</h2>
          }
        <span>@DateTime.Now.ToString("yyyy/M/d")</span>
    </div>

<!-- <div class="maliat">
    <span>قیمت‌ها بدون احتساب 9 درصد مالیات بر ارزش افزوده است.                        </span>
</div> -->
<table class="jadval">
    <tr class="trhead">
        <th class="tdhead">کد</th>
        <th class="tdhead">نام</th>
        <th class="tdhead">کارخانه تولیدی</th>
        <th class="tdhead">سایز</th>
        <th class="tdhead">استاندارد</th>
        <th class="tdhead">واحد</th>
        <th class="tdhead">قیمت</th>
        <th class="tdhead">تماس بگیرید</th>
        <th class="tdhead">تاریخ درج</th>
        <th class="tdhead"></th>
    </tr>

  @foreach (var item in Model.Products)
  {
      <tr class="trzir" id="result-sortType">
          <td class="tdzir"><a asp-controller="Products" asp-action="Details" asp-route-PrdName="@item.PrdName.Replace(" ", "-")">@item.PrdCode</a></td>
          <td class="tdzir"><a asp-controller="Products" asp-action="Details" asp-route-PrdName="@item.PrdName.Replace(" ", "-")">@item.PrdName</a></td>
          <td class="tdzir">@item.PrdShpotherSupplier.CmpName</td>
          <td class="tdzir">@item.PrdSize</td>
          <td class="tdzir">@item.PrdModel</td>
          <td class="tdzir">@item.PrdUnit.Unit</td>
          <td class="tdzir">@item.PrdPrice</td>
          <td class="tdzir">تماس بگیرید</td>
          <td class="tdzir">@item.DateTime.ToString("yyyy/M/d")</td>
          <td class="tdzir">
              <button title="مشاهده نمودار قیمت محصول" class="chart" id="myBtn-@item.ProductId">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
              </button>

              <button class="buy" title="اضافه به سبد خرید">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </button>
          </td>
      </tr>
      
      <!-- The Modal -->
      <div class="w3-container w3-center w3-animate-top">
          <div id="myModal-@item.ProductId" class="modal ">
              <!-- Modal content -->
              <div class="modal-content">
                  <span id="closemodal-@item.ProductId">&times;</span>
                  <div id="chart-@item.ProductId">
                  </div>
              </div>
          </div>
      </div>
      <script>
        var modal = document.getElementById("myModal-@item.ProductId");
        var btn = document.getElementById("myBtn-@item.ProductId");
        var span = document.getElementById("closemodal-@item.ProductId");
        btn.onclick = function() { modal.style.display = "block"; }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { modal.style.display = "none"; }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) { if (event.target == modal) {modal.style.display = "none";}}
    </script>

      <script>
            var options = {
                series: [{
                    name: 'قیمت محصول',
                    data: [31, 40, 28, 51, 42, 109, 100]
                }, {
                    name: 'میانگین قیمت کل بازار',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],
                chart: {
                    height: 350,
                    type: 'area'
                },
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy'
                    },
                },
            };
  
            var chart = new ApexCharts(document.querySelector("#chart-@item.ProductId"), options);
            chart.render();
        </script>
  }



</table>


</div>

</div>


</div>

</div>
<!--search-category------------------------->

<div class="clear"></div>