@using Application.Services.FrontEnd.User.Addresses;
@model UserAddressDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "افزودن آدرس";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
    <div class="woocommerce-notices-wrapper"></div>
    <form asp-area="User" asp-controller="Address" asp-action="Edit"  method="post">

        <h3>آدرس برای ارسال بار : </h3>
        <div class="woocommerce-address-fields">

            <div class="woocommerce-address-fields__field-wrapper">
                
                <p class="form-row form-row form-row-last address-field validate-required">
                    <label asp-for="@Model.City" class="">شهر </label>
                    <input asp-for="@Model.City" type="text" class="input-text" placeholder="شهر">
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </p>
                <p class="form-row form-row-first address-field validate-state">
                    <label asp-for="@Model.State" class="">استان</label>
                    <span class="woocommerce-input-wrapper">
                        <input asp-for="@Model.State" type="text" class="input-text " placeholder="" autocomplete="address-level1" data-input-classes="">
                        <span asp-validation-for="@Model.State" class="text-danger"></span>
                    </span>
                </p>
                <p class="form-row form-row-wide address-field validate-required validate-postcode">
                    <label asp-for="@Model.ZipCode" class="">کد پستی&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                    <span class="woocommerce-input-wrapper">
                        <input asp-for="@Model.ZipCode" type="text" class="input-text" placeholder="" autocomplete="postal-code">
                        <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
                    </span>
                </p>

                <p class="form-row form-row-wide address-field validate-required validate-postcode" >
                    <label asp-for="@Model.ReciverName" class="">نام گیرنده &nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                    <span class="woocommerce-input-wrapper">
                        <input asp-for="@Model.ReciverName" type="text" class="input-text "  placeholder="" autocomplete="postal-code">
                        <span asp-validation-for="@Model.ReciverName" class="text-danger"></span>
                    </span>
                </p>

                <p class="form-row form-row-wide address-field validate-required validate-postcode">
                    <label asp-for="@Model.PostalAddress" class="">آدرس کامل &nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                    <span class="woocommerce-input-wrapper">
                        <input asp-for="@Model.PostalAddress" type="text" class="input-text " placeholder="" autocomplete="postal-code">
                        <span asp-validation-for="@Model.PostalAddress" class="text-danger"></span>
                    </span>
                </p>
            </div>
            <p>
                <input type="hidden" asp-for="@Model.Id">
                <button type="submit" class="button" name="save_address" value="ذخیره آدرس">ذخیره آدرس</button>
            </p>
        </div>
    </form>
</div>