@model IEnumerable<Application.Services.BackEnd.User.Addresses.UserAddressDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "آدرس ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @await Component.InvokeAsync("LayoutComponent")

@if (TempData["IsSuccess"] != null)
{
    @if (Convert.ToBoolean(TempData["IsSuccess"]))
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    else if (Convert.ToBoolean(TempData["IsSuccess"]) == false)
    {
        <div class="alert alert-danger">
            @TempData["Message"]
        </div>
    }
}

    <a asp-area="User" asp-controller="Address" asp-action="Create" type="bottom">
        ثبت آدرس جدید
    </a>
<br>

@foreach (var item in Model)
{
    <div class="u-column1 col-1 woocommerce-Address">
        <a asp-area="User" asp-controller="Address" asp-action="Edit" asp-route-id="@item.Id" class="edit">ویرایش</a>
        <header class="woocommerce-Address-title title">
            <h3>@item.ReciverName </h3>
        </header>
        <address>
            @item.PostalAddress
        </address>
    </div>
    
    <div class="col-lg-9 col-md-8 col-xs-12 pull-right">
        <div class="d-block">
            <div class="profile-content">
                <div class="profile-stats">
                    <div class="profile-address">
                        <div class="box-header">
                            <span class="box-title">نشانی ما</span>
                        </div>
                        <div class="profile-address-item">
                            <div class="profile-address-item-top">
                                <div class="profile-address-item-title">خراسان شمالی ، بجنورد</div>
                                <div class="ui-more">
                                    <button class="btn-remove-address btn btn-danger" type="submit">حذف</button>
                                </div>
                            </div>

                            <div class="profile-address-content">
                                <ul class="profile-address-info">
                                    <li>
                                        <div class="profile-address-info-item location">
                                            <i class="mdi mdi-map-outline"></i>
                                            خراسان شمالی، بجنورد
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-address-info-item location">
                                            <i class="mdi mdi-email-outline"></i>
                                            945789651235
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-address-info-item location">
                                            <i class="mdi mdi-phone"></i>
                                            0991*******
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-address-info-item location">
                                            <i class="mdi mdi-account"></i>
                                            خراسان شمالی، بجنورد
                                        </div>
                                    </li>
                                    <li class="location-link">
                                        <a href="#" class="edit-address-link"
                                           onclick="document.getElementById('modal').style.display='block'">ویرایش
                                            نشانی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}