@model EndPoint.WebSite.Areas.Auth.Data.Dto.CheckOutDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ورود/ثبت نام ";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a href="/" class="logo-account">
                <img src="@_siteSetting.GetSiteSetting().LogoImage">
            </a>
            
            
               @if (TempData["AuthErrors"] != null)
                {
                    <ul class="auth-error alertSlideUp">
                        <li>
                            <strong>خطا:</strong>
                            @TempData["AuthErrors"]
                        </li>
                    </ul>
                }

                @if (TempData["IsSuccess"] != null)
                {
                    <ul class="woocommerce-success alertSlideUp">
                        <li>
                            @TempData["Message"]
                        </li>
                    </ul>
                }
                @if (TempData["SuccessChangePassword"] != null)
                {
                    <ul class="woocommerce-success alertSlideUp" role="alert">
                        <li>
                            <h3 class="text-center">@TempData["SuccessChangePassword"]</h3>
                        </li>
                    </ul>
                }
            
            
            
               <span class="account-head-line">ورود / ثبت نام</span>
               
            <form asp-controller="Auth" asp-action="CheckOut" method="post">

                <div class="content-account">
                    <label>شماره موبایل خود را وارد کنید</label>
                    <input asp-for="PhoneNumber" type="text" class="input-email-account" placeholder="">
                    <div class="clear"></div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    <div class="parent-btn">
                        <button class="dk-btn dk-btn-info">
                            ورود به @_siteSetting.GetSiteSetting().SiteName 
                            <i class="fa fa-sign-in sign-in"></i>
                        </button>
                    </div>
                    @* <div class="form-auth-row"> *@
                    @*     <label for="#" class="ui-checkbox"> *@
                    @*         <input type="checkbox" value="1" name="login" checked="" id="remember"> *@
                    @*         <span class="ui-checkbox-check"></span> *@
                    @*     </label> *@
                    @*     <label for="remember" class="remember-me">مرا به خاطر داشته باش</label> *@
                    @* </div> *@
                </div>
                
                <div class="account-footer">
                    @* <span>کاربر جدید هستید؟</span> *@
                    @* <a href="register.html" class="btn-link-register">ثبت‌نام در دیجی‌استور</a> *@
                    
                    
                    با ورود و یا ثبت نام در  @_siteSetting.GetSiteSetting().SiteName شما
                        <a href="/page/terms/" class="btn-link-register" target="_blank">
                            شرایط و قوانین
                        </a>
                        <br/>
                        استفاده از سرویس های سایت و
                        <a href="/page/privacy/" class="btn-link-register" target="_blank">
                            قوانین حریم خصوصی
                        </a>
                        <br/>
                        آن را می پذیرید.
                </div>
                
                <input asp-for="ReturnUrl" type="hidden"/>
            </form>
        </div>
    </div>
</div>