@using EndPoint.Web.Areas.Auth.Data.Dto
@model EndPoint.Web.Areas.Auth.Data.Dto.ForgotPasswordDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "فراموشی رمز عبور ";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@section Head{
    <link rel='stylesheet' id='main-theme-style-css-css'
          href='~/wp-content/themes/newkala/style.css?ver=5.1.4' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='woocommerce-general-rtl-css'
          href='~/wp-content/plugins/woocommerce/assets/css/woocommerce-rtl.css?ver=4.7.0'
          type='text/css' media='all'/>

    <link rel="stylesheet" type="text/css"
          href="~/wp-content/themes/newkala/css/woocommerce_dashboard.css">
    
    <link rel="stylesheet" type="text/css"
          href="~/wp-content/themes/newkala/inHead.css">
    
    <link rel="stylesheet" type="text/css"
          href="~/css/Auth.css">
}

@section Foo{
    <partial name="_ValidationScriptsPartial"/>
      <script>$('.alertSlideUp').delay(3000).slideUp(300); </script>
}


<main>
    <div class="sp_body_panel">
        <div class="woocommerce">
            <div class="main_login_form">
                <a href="https://newkalatheme.ir/preview">
                    <img style="display:block;margin:20px auto;" src="@_siteSetting.GetSiteSetting().LogoImage" title="@_siteSetting.GetSiteSetting().SiteName">
                </a>
              @if (TempData["ErrorVerifyPhoneNumber"] != null)
                {
                    <ul class="woocommerce-error alertSlideUp">
                        <li>
                        <strong>خطا:</strong>

                        @TempData["ErrorVerifyPhoneNumber"]
                    </ul>
                }
              
              @if (TempData["ForgotPasswordErrors"] != null)
                {
                    <ul class="woocommerce-error alertSlideUp" role="alert">
                        <li>
                        <strong>خطا:</strong>

                        @TempData["ForgotPasswordErrors"]
                    </ul>
                }
              

                <div class="woocommerce-notices-wrapper"></div>


                <h2>فراموشی رمز عبور</h2>

                <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="woocommerce-form woocommerce-form-register">

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" type="text" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="Code" class="text-danger"></span>
                        
                    </p>
                    
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="Password"></label><span class="required">*</span>
                        <input asp-for="Password" type="password" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </p>
                    
                    
                                        
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="ConfirmPassword"></label><span class="required">*</span>
                        <input asp-for="ConfirmPassword" type="password" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </p>
                    

                    <div class="woocommerce-privacy-policy-text"></div>

                    <input type="hidden" asp-for="PhoneNumber">
                    <input type="hidden" asp-for="token">
                    <p class="woocommerce-FormRow form-row">
                        <button type="submit" class="woocommerce-Button button go_to_all_products_offer" name="register" value="ورود">ورود به  @_siteSetting.GetSiteSetting().SiteName</button>
                    </p>


                </form>

                <div class="go_to_register_form">میخوای وارد سایت بشی؟ <a asp-controller="Auth" asp-action="CheckOut" >ورود   </a></div>

            </div>

        </div>
    </div>
</main>