@using EndPoint.Web.Areas.Auth.Data.Dto
@model RegisterDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ثبت نام کاربر ";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@section Head{
    <link rel='stylesheet' id='main-theme-style-css-css'
          href='~/wp-content/themes/newkala/style.css?ver=5.1.4' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='woocommerce-general-rtl-css'
          href='~/wp-content/plugins/woocommerce/assets/css/woocommerce-rtl.css?ver=4.7.0'
          type='text/css' media='all'/>

    @* <script type='text/javascript' src='~/wp-includes/js/jquery.min.js?ver=3.5.1' *@
    @*         id='jquery-core-js'></script> *@

    <link rel="stylesheet" type="text/css"
          href="~/wp-content/themes/newkala/css/woocommerce_dashboard.css">

    <link rel="stylesheet" type="text/css"
          href="~/wp-content/themes/newkala/inHead.css">

    <link rel="stylesheet" type="text/css"
          href="~/css/Auth.css">

}

@section Foo{
    <partial name="_ValidationScriptsPartial"/>
      <script>$('.alertSlideUp').delay(10000).slideUp(300); </script>

    @* <script type='text/javascript' *@
    @*           src='~/wp-content/plugins/dokan-lite/assets/js/vendor-registration.js?ver=1605545320' *@
    @*           id='dokan-vendor-registration-js'></script> *@
}

<main>
    <div class="sp_body_panel">
        <div class="woocommerce">
            <div class="main_login_form">
                <a href="https://newkalatheme.ir/preview">
                    <img style="display:block;margin:20px auto;" src="@_siteSetting.GetSiteSetting().LogoImage" title="@_siteSetting.GetSiteSetting().SiteName">
                </a>

                @if (TempData["AuthErrors"] != null)
                {
                    <ul class="woocommerce-error alertSlideUp">
                        <li>
                            <strong>خطا:</strong>
                            @TempData["AuthErrors"]
                        </li>
                    </ul>
                }

                <div class="woocommerce-notices-wrapper"></div>
                <h2>ثبت نام</h2>
                <form asp-controller="Auth" asp-action="Register" method="post" class="woocommerce-form woocommerce-form-register">
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="PhoneNumber"></label><span class="required">*</span>
                        <input asp-for="PhoneNumber" type="text" readonly="readonly"  class="woocommerce-Input woocommerce-Input--text input-text bold"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </p>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="FirstName"></label><span class="required">*</span>
                        <input asp-for="FirstName" type="text" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </p>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="LastName"></label><span class="required">*</span>
                        <input asp-for="LastName" type="text" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </p>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="Address"></label><span class="required">*</span>
                        <input asp-for="Address" type="text" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </p>

                    
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="Password"></label><span class="required">*</span>
                        <input asp-for="Password" type="password" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </p>

                    
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label asp-for="ConfirmPassword"></label><span class="required">*</span>
                        <input asp-for="ConfirmPassword" type="password" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </p>
                    <div class="woocommerce-privacy-policy-text"></div>

                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" asp-for="RequestToBeOwner" type="checkbox" id="requestToBeOwner" value="true"> <span>میخواهم فروشنده شوم </span>
                    </label>
                    
                    <p class="woocommerce-FormRow form-row">
                        <button type="submit" class="woocommerce-Button button go_to_all_products_offer" name="register" value="ورود">ورود به  @_siteSetting.GetSiteSetting().SiteName</button>
                    </p>
                </form>

                <div class="go_to_register_form">
                    با ورود و یا ثبت نام در  @_siteSetting.GetSiteSetting().SiteName شما
                    <a href="/page/terms/" target="_blank">
                        شرایط و قوانین
                    </a>
                    <br/>
                    استفاده از سرویس های سایت و
                    <a href="/page/privacy/" target="_blank">
                        قوانین حریم خصوصی
                    </a>
                    <br/>
                    آن را می پذیرید.
                </div>
            </div>
        </div>
    </div>
</main>