@using Application.Services.FrontEnd.Home.Queries
@model ResultGetHomeFrontEndDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@{
    ViewData["Title"] = "فروشگاه آنلاین محصولات آهن و و فولاد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <meta name="description" content="اکوفولاد ؛ قیمت آهن، خرید و فروش آهن، انواع میلگرد، پروفیل، تیرآهن، ورق، نبشی و ناودانی، آهن آلات، با لیست قیمت‌های روزانه ✦ خرید پیشرو در بازار آهن: ☎ 021">
    <meta name="keyword" content="اکوفولاد ؛ قیمت آهن، خرید و فروش آهن، انواع میلگرد، پروفیل، تیرآهن، ورق، نبشی و ناودانی، آهن آلات">
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:image" content="/Images/Settings/FavIcon/apple-icon-180x180.png"/>
    <meta property="og:type" content="اکوفولاد">
    <meta property="og:title" content="صفحه اصلی - @_siteSetting.GetSiteSetting().SiteName">
    <meta property="og:description" content="فروشگاه آنلاین محصولات آهن و و فولاد">
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:site_name" content="@_siteSetting.GetSiteSetting().SiteName">
    <meta property="article:section" content="اکو فولاد">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ecofoolad">
    <meta name="twitter:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta name="twitter:description" content="فروشگاه آنلاین محصولات آهن و و فولاد">
    <meta name="twitter:title" content="EcoFoolad - @_siteSetting.GetSiteSetting().SiteName">
    <meta name="twitter:image" content="/Images/Settings/FavIcon/android-icon-192x192.png"/>
    <meta name="twitter:creator" content="@@ecofoolad"/>
}

@section Foo{
    <script type="application/ld+json">
                    {
        "@@context": "https://schema.org",
        "@@type": "LocalBusiness",
        "name": "EcoFoolad - @_siteSetting.GetSiteSetting().SiteName",
        "image": "@_siteSetting.GetSiteSetting().LogoImage",
        "@@id": "https://www.ecofoolad.com",
        "url": "https://www.ecofoolad.com",
        "telephone": "+982143000550",
        "priceRange": "IRR",
        "address": {
            "@@type": "PostalAddress",
            "streetAddress": "یوسف آباد - خیاب سید جمال الدین - بعد از خیابان ۶۵ - پلاک ۴۸۵ - واحد ۴۳ - دفتر اکو فولاد ",
            "addressLocality": "تهران",
            "postalCode": "1434964737",
            "addressCountry": "IR"
        },
        "geo": {
            "@@type": "GeoCoordinates",
            "latitude": 35.748168,
            "longitude": 51.405510
        },
        "openingHoursSpecification": {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Saturday",
                "Sunday"
            ],
            "opens": "08:00",
            "closes": "17:00"
        },
        "sameAs": [
            "https://www.facebook.com/ecofoolad",
            "https://www.twitter.com/ecofoolad",
            "https://plus.google.com/+ecofoolad",
            "https://www.instagram.com/ecofoolad",
            "https://www.youtube.com/channel/",
            "https://www.linkedin.com/company/ecofoolad"
        ]
    }
    </script>
    <script type="application/ld+json">
                            {
        "@@context": "https://schema.org",
        "@@type": "WebSite",
        "url": "https://www.ecofoolad.com",
        "potentialAction": {
            "@@type": "SearchAction",
            "target": "https://www.ecofoolad.com/search/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>
}



    
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>

    <!--    Start Main Slider -------------------->
    <div class="col-12">
        <aside class="adplacement-header">
            <a style="background-image: url(@Model.Sliders.Where(s => s.Position == 1).Select(s => s.Url).FirstOrDefault())" class="adplacement-item" title="slider" ></a>
        </aside>
    </div>
    <div class="d-block">
        <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
            <div class="main-slider">
                <div class="main-slider-container">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @{ var i = 0;}
                            @foreach (var item in Model.Sliders.Where(s => s.Position == 4))
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active": "")"></li>
                                i++;
                            }
                        </ol>
                        <div class="carousel-inner">
                        @{ var j = 0;}
                            @foreach (var item in @Model.Sliders.Where(s => s.Position == 4))
                            {
                                <div class="carousel-item @(j==0 ? "active": "")">
                                    <img class="d-block w-100" src="@item.Url" alt="Slider">
                                </div>
                                j++;
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">rfgd</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    End Main Slider ---------------------->

    <!--adplacement-------------------------------->
    <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
        <aside class="adplacement-container-column">
            <a href="#" class="adplacement-item adplacement-item-column">
                <div class="adplacement-sponsored-box">
                    <img src="@Model.Sliders.Where(s => s.Position == 2).Select(s => s.Url).FirstOrDefault()">
                </div>
            </a>
            <a href="#" class="adplacement-item adplacement-item-column">
                <div class="adplacement-sponsored-box">
                    <img src="@Model.Sliders.Where(s => s.Position == 3).Select(s => s.Url).FirstOrDefault()">
                </div>
            </a>
        </aside>
    </div>

    <!--adplacement-------------------------------->


    <!--slider-amazing----------------------------->
    <section class="section-slider amazing-section mb-3 mt-4" style="background: rgb(239, 57, 78);">
        <div class="container-amazing">
            <div class="container-main">
                <div>
                    <div class="col-lg-3 display-md-none pull-right">
                        <div class="amazing-product text-center mt-5">
                            <a href="#">
                                <img src="assets/images/amazing/amazing.png" alt="">
                            </a>
                            <a href="#" class="view-all-amazing-btn">
                                مشاهده همه
                                <i class="uil uil-angle-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 pull-left">
                        <div class="section-slider-content">
                            <div class="section-slider-product slider-amazing mt-3">
                                <div class="widget widget-product card" style="margin:0;">
                                    <header class="card-header card-header-amazing">
                                        <span class="title-one">پیشنهاد شگفت انگیز</span>
                                        <a class="card-title">مشاهده همه</a>
                                    </header>
                                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                <div class="owl-item active"
                                                    style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/Knife.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                تلویزیون ال ای دی هوشمند سامسونگ مدل 82NU8900 سایز 82
                                                                اینچ
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۳۲٪</span>
                                                            </div>
                                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item active"
                                                    style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/phone.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                تلویزیون ال ای دی هوشمند ایکس ویژن مدل 55XT515 سایز 55
                                                                اینچ
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۳۲٪</span>
                                                            </div>
                                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item active"
                                                    style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/tishert.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                تلویزیون ال ای دی هوشمند مجیک تی وی مدل MT65D2400 سایز
                                                                65 اینچ
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۳۲٪</span>
                                                            </div>
                                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item active"
                                                    style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/headphone.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                تلویزیون ال ای دی ال جی مدل 43LJ52100 سایز 43 اینچ
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۳۲٪</span>
                                                            </div>
                                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/power-bank.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                شارژر همراه کوئین تک مدل QT-10 ظرفیت 9000 میلی آمپر ساعت
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۲۱٪</span>
                                                            </div>
                                                            <del><span>۱۵۹,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۱۳۹,۰۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/clock.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                ساعت مچی عقربه ای زنانه کاسیو مدل LTP-E164L-1ADF
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۲۶٪</span>
                                                            </div>
                                                            <del><span>۱,۵۵۸,۷۰۰<span>تومان</span></span></del>
                                                            <ins><span>۱,۱۴۹,۰۰۰ <span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#">
                                                            <img src="assets/images/product-slider-2/backpack.jpg"
                                                                class="img-fluid" alt="">
                                                        </a>
                                                        <h2 class="post-title">
                                                            <a href="#">
                                                                کوله پشتی کوهنوردی 65 لیتری فوروارد مدل FCLT409
                                                            </a>
                                                        </h2>
                                                        <div class="price">
                                                            <div class="discount-item">
                                                                <span>۶۷٪</span>
                                                            </div>
                                                            <del><span>۸۱۹,۰۰۰<span>تومان</span></span></del>
                                                            <ins><span>۲۶۹,۹۰۰<span>تومان</span></span></ins>
                                                        </div>
                                                        <div class="product-box-timer">
                                                            <span class="fa fa-clock-o"></span>
                                                            <div class="countdown countdown-style-3 h4"
                                                                data-date-time="10/10/2025 24:00"
                                                                data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider-amazing----------------------------->

    <!--   adplacement -------------------->
    <div class="adplacement">
        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000012860.jpg" title="صوتی و تصویری">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000012872.jpg" title="شوینده ظروف">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000013192.jpg" title="افس">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000012909.jpg" title="مراقبت پوست و مو">
            </a>
        </div>
    </div>
    <!--   adplacement -------------------->



    <!--    Slider-sidebar------------------->
    <div class="col-lg-2 col-md-12 col-xs-12 pull-left">
        <div class="slider-sidebar">
            <div class="widget-suggestion widget card">
                <header class="card-header promo-single-headline">
                    <h3 class="card-title">پیشنهادهای لحظه‌ای</h3>
                </header>
                <div id="progressBar">
                    <div class="slide-progress" style="width: 100%; transition: width 5000ms ease 0s;"></div>
                </div>
                <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">
                            <div class="owl-item cloned" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/images/slider-sidebar/slider-sidebar-1.jpg" class="w-100"
                                            alt="">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA - A</a>
                                    </h3>
                                    <div class="price">
                                        <del><span class="amount">۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <span class="amount">۳,۳۹۵,۰۰۰<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/images/slider-sidebar/slider-sidebar-2.jpg" class="w-100"
                                            alt="">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> لپ تاپ 15 اینچی دل مدل XPS 7590-A </a>
                                    </h3>
                                    <div class="price">
                                        <del><span class="amount">۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <span class="amount">۳,۳۹۵,۰۰۰<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/images/slider-sidebar/slider-sidebar-3.jpg" class="w-100"
                                            alt="">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> لپ تاپ 15 اینچی مایکروسافت مدل Surface Book 2- C </a>
                                    </h3>
                                    <div class="price">
                                        <span class="amount">۴,۵۳۰,۰۰۰<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/images/slider-sidebar/slider-sidebar-4.jpg" class="w-100"
                                            alt="">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> لپ تاپ ۱۵ اینچی ایسوس مدل FX503VD - A
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <del><span class="amount">۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                        <span class="amount">۳,۳۹۵,۰۰۰<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
    <!--    Slider-sidebar------------------->

    <!--   slider-product-------------------->
    <div class="col-lg-10 col-md-12 col-xs-12 pull-right mt-2">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">صندلی اداری</span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair1.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair2.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair3.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair4.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair5.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair6.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/chair7.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                صندلی اداری رونیکا مدل گلرخ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">گوشی موبایل</span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/rzai.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش ورزشی مردانه مدل rzai
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>70,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>65,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/d.r.j.e.27.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص دویدن مردانه مدل 27ِ.D.r.j.e
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>109,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>89,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/adiza001.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص پیاده روی مردانه کد adiza001
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>90,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>85,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/arshi-ad.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص دویدن مردانه مدل arshi-ad
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>140,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>137,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/jor-me-se.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص پیاده روی مردانه کد jor-me-se 001
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>150,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>89,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/270c.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص پیاده روی مردانه کد 270C
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>170,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>166,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/um.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                کفش مخصوص پیاده روی مردانه کد UM
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>4
                                                <span>198,000
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span>138,000
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   slider-product-------------------->

    <!--   adplacement -------------------->
    <div class="adplacement">
        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000009159.jpg" title="صوتی و تصویری">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000010064.jpg" title="شوینده ظروف">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000005397.jpg" title="افس">
            </a>
        </div>

        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000005393.jpg" title="مراقبت پوست و مو">
            </a>
        </div>
    </div>
    <!--   adplacement -------------------->

    <!--   slider-product-------------------->
    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">گوشی موبایل</span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/111460776.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/111474228.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/112145268.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/111475300.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/113542184.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/111469793.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/images/product-slider-2/111472656.jpg" class="img-fluid"
                                                alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   slider-product-------------------->

    <!--   adplacement -------------------->
    <div class="adplacement">
        <div class="col-lg-6 col-xs-12 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000013199.jpg" title="صوتی و تصویری">
            </a>
        </div>

        <div class="col-lg-6 col-xs-12 pull-right">
            <a href="#" class="item-adplacement">
                <img src="assets/images/post-adplacement/1000012919.jpg" title="شوینده ظروف">
            </a>
        </div>
    </div>
    <!--   adplacement -------------------->


    <!--   slider-product-------------------->
    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-12">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <span class="title-one">برندهای ویژه</span>
                            <h3 class="card-title"></h3>
                        </header>
                        <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1000005582.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1000006973.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1076.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1078.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1080.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/1086.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/images/brand/2315.png" class="img-fluid" alt=""
                                                    style="width:100px !important; height:100px !important;">
                                            </a>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--   slider-product-------------------->
