@using Application.Services.FrontEnd.Blogs.Queries
@using Application.Services.FrontEnd.Common
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model ResultGetBlogsCategoryFrontEndDto
@inject ISiteSetting SiteSetting;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Model.CategoryItem.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    // IPagedList<GetBlogsDto> blogs = ViewBag.Blogs;
}

@section Head{
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/blog-style.css">
    <link rel="stylesheet" href="~/blog-assets/css/responsive.css">

    <meta name="description" content="@Model.CategoryItem.SmallDescription">
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@Model.CategoryItem.Name | @SiteSetting.GetSiteSetting().SiteName">
    <meta property="og:description" content="@Model.CategoryItem.SmallDescription">
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:site_name" content="@SiteSetting.GetSiteSetting().SiteName">
    <meta property="article:section" content="@Model.CategoryItem.Name">
    <meta property="article:published_time" content="@Model.CategoryItem.LocalTime">
    <meta property="og:updated_time" content="@Model.CategoryItem.LocalTime">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ecofoolad">
    <meta name="twitter:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta name="twitter:description" content="@Model.CategoryItem.SmallDescription">
    <meta name="twitter:title" content="@Model.CategoryItem.Name | @SiteSetting.GetSiteSetting().SiteName">
    <meta name="twitter:image" content="/Images/Settings/FavIcon/android-icon-192x192.png"/>
    <meta name="twitter:creator" content="@@ecofoolad"/>
}

@section Foo{
    <script src="~/assets/js/blog-theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/blog-main.js"></script>
    <script type="application/ld+json">{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.ecofoolad.com/mag/category/@Model.CategoryItem.Name/","sameAs":["https://www.ecofoolad.com/ecofoolad","https://twitter.com/ecofoolad","https://instagram.com/ecofoolad","https://telegram.me/ecofoolad"]}</script>
    <script type="application/ld+json">{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://www.ecofoolad.com/mag/","name":"مجله اکوفولاد"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://www.ecofoolad.com/mag/category/@Model.CategoryItem.Name/","name":"@Model.CategoryItem.Name"}}]}</script>
}

<div class="main mt-0 bg-search">
    <div class="col-12 pull-right">
        <div class="main-aside pull-right sticky-sidebar sticky-sidebar-distant">
            <nav>
                <ul class="stick-menu">
                    <li class="stick-menu-item stick-logo">
                        <a href="#" title="مجله @SiteSetting.GetSiteSetting().SiteName">
                            <span style="color: #fc465b">MAG</span>
                            <br>
                            AHAN
                        </a>
                    </li>
                    <li class="stick-menu-item login-popup-btn">
                        <a href="#">
                            <img src="assets/images/header/user.png" alt="user">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="main-content">
                <div class="topics">
                    <div class="col-lg-12 col-xs-12 pr-0 pl-0 pull-right">
                        <div class="topics-content">
                            <section class="masonry-gallery">
                                @foreach (var item in Model.Blogs)
                                {
                                    <div class="col-lg-3 col-md-3 col-xs-12 pull-right">
                                        <div class="masonry-gallery-item">
                                            <div class="image">
                                                <a asp-controller="Blogs"
                                                   asp-action="Details"
                                                   asp-route-title="@item.Title.Replace(" ", "-")" class="image-linker">
                                                    <span class="image-mask"></span>
                                                    <img src="/@item.ImageUrl" alt="/@item.Title" class="image-img wp-post-image">
                                                </a>
                                                <a href="#" class="image-badge">@item.BlogCategory.Name</a>
                                                @* <div class="image-fav"> *@
                                                @*     <span class="popularity"> *@
                                                @*         <span class="popularity-likes"> *@
                                                @*             <i class="fa fa-heart"></i> *@
                                                @*             <span class="popularity-likes-num">2</span> *@
                                                @*         </span> *@
                                                @*         <span class="popularity-time-to-read"> *@
                                                @*             <i class="fa fa-clock-o"></i> *@
                                                @*             <span class="popularity-minutes-read">مدت ۱:۳۷</span> *@
                                                @*         </span> *@
                                                @*     </span> *@
                                                @* </div> *@
                                            </div>
                                            <a asp-controller="Blogs"
                                               asp-action="Details"
                                               asp-route-title="@item.Title.Replace(" ", "-")"
                                               class="masonry-gallery-item-title">
                                                @item.Title
                                            </a>
                                            <div class="masonry-gallery-item-description">
                                                @item.SmallDescription
                                            </div>
                                            <div class="masonry-gallery-item-detail">
                                                <div class="user-profile-stat-wrapper mr-0">
                                                    <img src="@Model.Footers.ThumbnailLogoImage" class="avatar">
                                                    <span class="item-details-author">
                                                        @item.Author
                                                    </span>
                                                </div>
                                                <span class="popularity-time-to-read pull-left">
                                                    <span class="popularity-minutes-read">
                                                        @DateTime.Parse(item.LocalTime).ToPersianDateTime().ToString("yyyy/MM/dd")
                                                    </span>
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </section>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                @Html.PagedListPager((IPagedList)ViewBag.Blogs, page =>
                    Url.Action("Category", "Blogs", new {category=Model.CategoryItem.Slug, pageView="page" ,page=page }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    });
                @* <partial name="_BlogPagination"/> *@
            </div>
        </div>
    </div>
</div>