@using Application.Services.FrontEnd.Blogs.Queries
@model ResultGetBlogsDetailsFrontEndDto
@using Application.Services.FrontEnd.Common
@using Microsoft.AspNetCore.Http.Extensions
@using System.Web
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Model.Blog.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{
    <meta name="description" content="@Model.Blog.NewsSummery">
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="@Model.Blog.en_NewsGroupName">
    <meta property="og:title" content="@Model.Blog.Title - @_siteSetting.GetSiteSetting().SiteName">
    <meta property="og:description" content="@Model.Blog.NewsSummery">
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta property="og:site_name" content="@_siteSetting.GetSiteSetting().SiteName">
    <meta property="article:section" content="@Model.Blog.NewsGroupName">
    <meta property="article:published_time" content="@Model.Blog.LocalTime">
    <meta property="og:updated_time" content="@Model.Blog.LocalTime">
    <meta property="og:image" content="@Context.Request.Scheme://@Context.Request.Host/@Model.Blog.HeadLine">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ecofoolad">
    <meta name="twitter:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value">
    <meta name="twitter:description" content="@Model.Blog.NewsSummery">
    <meta name="twitter:title" content="@Model.Blog.Title - @_siteSetting.GetSiteSetting().SiteName">
    <meta name="twitter:image" content="@Context.Request.Scheme://@Context.Request.Host/@Model.Blog.HeadLine">
    <meta name="twitter:creator" content="@@ecofoolad"/>
}

@section Foo{
    <script type="application/ld+json">
    {
    "@@context":"https://schema.org",
    "@@type":"@Model.Blog.en_NewsGroupName",
    "headline":"@Model.Blog.Title",
    "image":{
    "@@type":"ImageObject",
    "url":"@Context.Request.Scheme://@Context.Request.Host/@Model.Blog.HeadLine",
    "height":822,
    "width":522
    },
    "author":"سردبیر خبری",
    "editor":"سردبیر خبری",
    "genre":"سردبیر خبری",
    "wordcount":2603,
    "publisher":{
    "@@type":"Organization",
    "name":"@_siteSetting.GetSiteSetting().SiteName",
    "logo":{
    "@@type":"ImageObject",
    "url":"@_siteSetting.GetSiteSetting().LogoImage",
    "width":"211",
    "height":"60"
    }},
    "url":"@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value",
    "datePublished":"@Model.Blog.LocalTime",
    "dateCreated":"@Model.Blog.LocalTime",
    "dateModified":"@Model.Blog.LocalTime",
    "description":"@Model.Blog.NewsSummery"
    }
    </script>
}


<div class="container" style="margin-top:20px;">


    <section class="content_right_blog">

        <div class="main_content_post_blog">

            <ul class="woocommerce-breadcrumb">
                <li>
                    <a href="/">@_siteSetting.GetSiteSetting().SiteName</a>
                </li>
                <span>/</span>
                <li>
                    <a href="/">بلاگ</a>
                </li>
                <span>/</span>

                <li>
                    <a asp-controller="Blogs"
                       asp-action="Category"
                       asp-route-category="@Model.Blog.en_NewsGroupName">
                        @Model.Blog.NewsGroupName
                    </a>
                </li>
                <span>/</span>
                <li>@Model.Blog.Title</li>
            </ul>

            <h1 class="title_single_post">@Model.Blog.Title</h1>

            <div class="main_post_meta">

                <div class="author">
                    <img alt="@Model.Blog.Title" src="@Model.Footers.ThumbnailLogoImage" height="30" width="30" srcset="@Model.Footers.ThumbnailLogoImage" data-ll-status="loaded">
                    <noscript>
                        <img alt='@Model.Blog.Title' src='@Model.Footers.ThumbnailLogoImage' srcset='@Model.Footers.ThumbnailLogoImage' class='avatar avatar-30 photo' height='30' width='30'/>
                    </noscript>
                    <a >
                        سردبیر خبری
                    </a>
                </div>


                <div class="date_publish" lang="fa">@Model.Blog.DateTime</div>

            </div>

            @* <img width="822" height="522"  *@
            @*      src="@Model.Blog.HeadLine"  *@
            @*      class="attachment-large size-large wp-post-image lazyloaded"  *@
            @*      alt="@Model.Blog.Title" sizes="(max-width: 822px) 100vw, 822px"  *@
            @*      srcset="/@Model.Blog.HeadLine" data-ll-status="loaded"> *@

            @* <noscript> *@
            @*     <img width="822" height="522" src="/@Model.Blog.HeadLine" class="attachment-large size-large wp-post-image" alt="@Model.Blog.Title" srcset="/@Model.Blog.HeadLine" sizes="(max-width: 822px) 100vw, 822px"/> *@
            @* </noscript> *@
            <div class="product-content-onliner">
                @Html.Raw(Model.Blog.NewsBody)
            </div>

            <div class="comments-wrapper"></div>

        </div>

    </section>

    @* *@
    @* <aside class="main_blog_sidebar"> *@
    @*     <div id="media_image-5" class="main-blog-widget widget_media_image"> *@
    @*         <img width="345" height="283" src="https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1.jpg" class="image wp-image-2608 attachment-full size-full lazyloaded" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 345px) 100vw, 345px" srcset="https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1.jpg 345w, https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1-300x246.jpg 300w" data-ll-status="loaded"> *@
    @*         <noscript> *@
    @*             <img width="345" height="283" src="https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1.jpg" class="image wp-image-2608  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" srcset="https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1.jpg 345w, https://newkalatheme.ir/preview/wp-content/uploads/2019/10/mag-1-1-300x246.jpg 300w" sizes="(max-width: 345px) 100vw, 345px"/> *@
    @*         </noscript> *@
    @*     </div> *@
    @* </aside> *@
    <div class="clear"></div>
</div>