@using Application.Services.FrontEnd.Blogs.Queries
@model ResultGetBlogsFrontEndDto
@using Application.Services.FrontEnd.Common
@using Common.Extentions
@inject ISiteSetting SiteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.TagHelpers
@{
    ViewData["Title"] = "مجله اکوفولاد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Head{
    <link rel="stylesheet" href="~/assets/css/blog-style.css">
    <link rel="stylesheet" href="~/blog-assets/css/responsive.css">

    <meta name="description" content="اکوفولاد ؛ قیمت آهن، خرید و فروش آهن، انواع میلگرد، پروفیل، تیرآهن، ورق، نبشی و ناودانی، آهن آلات، با لیست قیمت‌های روزانه ✦ خرید پیشرو در بازار آهن: ☎ 021">
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value/">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="مجله | @SiteSetting.GetSiteSetting().SiteName">
    <meta property="og:description" content="فروشگاه آنلاین محصولات آهن و و فولاد">
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value/">
    <meta property="og:site_name" content="@SiteSetting.GetSiteSetting().SiteName">
    <meta property="article:section" content="مجله">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ecofoolad">
    <meta name="twitter:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path.Value/">
    <meta name="twitter:description" content="فروشگاه آنلاین محصولات آهن و و فولاد - مجله">
    <meta name="twitter:title" content="مجله - @SiteSetting.GetSiteSetting().SiteName">
    <meta name="twitter:image" content="/Images/Settings/FavIcon/android-icon-192x192.png"/>
    <meta name="twitter:creator" content="@@ecofoolad"/>
}

@section Foo{
    <script src="~/assets/js/blog-theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/blog-main.js"></script>

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "LocalBusiness",
        "name": "مجله - @SiteSetting.GetSiteSetting().SiteName",
        "image": "@SiteSetting.GetSiteSetting().LogoImage",
        "@@id": "https://www.ecofoolad.com/mag/",
        "url": "https://www.ecofoolad.com/mag/",
        "telephone": "+982143000550",
        "priceRange": "IRR",
        "address": {
            "@@type": "PostalAddress",
            "streetAddress": "یوسف آباد - خیاب سید جمال الدین - بعد از خیابان ۶۵ - پلاک ۴۸۵ - واحد ۴۳ - دفتر اکو فولاد ",
            "addressLocality": "تهران",
            "postalCode": "1434964737",
            "addressCountry": "IR"
        },
        "geo": {
            "@@type": "GeoCoordinates",
            "latitude": 35.748168,
            "longitude": 51.405510
        },
        "openingHoursSpecification": {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Saturday",
                "Sunday"
            ],
            "opens": "08:00",
            "closes": "17:00"
        },
        "sameAs": [
            "https://www.facebook.com/ecofoolad",
            "https://www.twitter.com/ecofoolad",
            "https://plus.google.com/+ecofoolad",
            "https://www.instagram.com/ecofoolad",
            "https://www.youtube.com/channel/",
            "https://www.linkedin.com/company/ecofoolad"
        ]
    }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "WebSite",
        "url": "https://www.ecofoolad.com/mag/",
        "potentialAction": {
            "@@type": "SearchAction",
            "target": "https://www.ecofoolad.com/search/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>
    <script>
    var arr = [], l = document.links;
    for(var i=0; i<l.length; i++) {
      arr.push(l[i].href);
      url.replace(/\/?(\?|#|$)/, '/$1')
    }
    </script>
}

<div class="col-lg-3 col-md-3 col-xs-12 pull-right pull-right-margin">
    <nav class="homepage-header-aside">
        <ul class="mega-menu-ul">
            @foreach (var item in Model.BlogsGroup)
            {
                <li class="menu-item menu-item-type-custom menu-item-object-custom"
                    onmouseover="this.style.background='@item.Color'"
                    onmouseout="this.style.background='#fff'">
                    <a asp-controller="Blogs"
                       asp-action="Category"
                       asp-route-category="@item.Slug.Replace(" ", "-")"
                       class="menu-item-anchor"
                       onmouseover="this.style.color='#ffffff'"
                       onmouseout="this.style.color='#6b7074'">
                        >
                        @* <img src="assets/images/manu/shape.png"> *@
                        <i class="@item.FaIcon"></i>
                        @item.Name
                    </a>
                </li>
            }
            @* <li class="menu-footer"> *@
            @*     <a href="#" class="menu-footer-link">فروشگاه اینترنتی دیجی استور</a> *@
            @* </li> *@
        </ul>
    </nav>
    <div id="home-menu-bottom-sidebar" class="sidebar-digimag">
        <div class="home-menu-bottom-widget">
            <a asp-controller="Blogs"
               asp-action="Details"
               asp-route-title="@Model.BlogsFav.Where(b => b.Position == 7).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
               class="promotion">

                <img src="/@Model.BlogsFav.Where(b => b.Position == 7).Select(b => b.ImageUrl).FirstOrDefault()"
                     alt="@Model.BlogsFav.Where(b => b.Position == 7).Select(b => b.Title).FirstOrDefault()"
                     class="promotion-img">
            </a>
        </div>
    </div>
</div>
<!-- nav------------------------------>

<!-- content-------------------------->
<div class="col-lg-9 col-md-9 col-xs-12 pull-right res-div">

    <!-- slider-responsive Author Fav -->
    <div class="slider-main mt-4 mb-4 fr">
        <div class="widget widget-product card mb-0">
            <div class="product-carousel-main owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1207px;">
                        @{ var q = 0;}
                        @foreach (var item in Model.BlogsFav.Where(b => b.Position != 1)
                            .Where(b => b.Position != 5)
                            .Where(b => b.Position != 6))
                        {
                            q++;
                            <div class="owl-item @(q==1?"active":"")" style="width: 231.313px; margin-left: 10px;">
                                <div class="item">
                                    <a asp-controller="Blogs"
                                      asp-action="Details"
                                      asp-route-title="@item.Title.Replace(" ", "-")"
                                      class="d-block hover-img-link" data-toggle="modal" data-target="#exampleModal">
                                        <img src="/@item.ImageUrl" class="img-fluid" alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-responsive -->


    <div class="homepage-header-content">
        <div class="home-top-tile-banner-single">
            <div class="home-hover-widget">
                <a asp-controller="Blogs"
                   asp-action="Details"
                   asp-route-title="@Model.BlogsFav.Where(b => b.Position == 1).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")">
                    <img src="/@Model.BlogsFav.Where(b => b.Position == 1).Select(b => b.ImageUrl).FirstOrDefault()"
                         alt="@Model.BlogsFav.Where(b => b.Position == 1).Select(b => b.Title).FirstOrDefault()">
                </a>
            </div>
        </div>
        <div class="tiles">
            <div class="tiles-wrapper">
                <div class="col-6 col-lg-4 pull-right pr-0 pl-0">
                    <a asp-controller="Blogs"
                       asp-action="Details"
                       asp-route-title="@Model.BlogsFav.Where(b => b.Position == 2).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
                       class="tiles-item d-block mt-3">
                        <img src="/@Model.BlogsFav.Where(b => b.Position == 2).Select(b => b.ImageUrl).FirstOrDefault()"
                             alt="@Model.BlogsFav.Where(b => b.Position == 2).Select(b => b.Title).FirstOrDefault()">
                        <span class="tiles-item-txt">
                            <span>
                                @Model.BlogsFav.Where(b => b.Position == 2).Select(b => b.Title).FirstOrDefault()
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-6 col-lg-4 pull-right pr-0 pl-0">
                    <a asp-controller="Blogs"
                       asp-action="Details"
                       asp-route-title="@Model.BlogsFav.Where(b => b.Position == 3).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
                       class="tiles-item d-block mt-3">
                        <img src="/@Model.BlogsFav.Where(b => b.Position == 3).Select(b => b.ImageUrl).FirstOrDefault()"
                             alt="@Model.BlogsFav.Where(b => b.Position == 3).Select(b => b.Title).FirstOrDefault()">
                        <span class="tiles-item-txt">
                            <span>
                                @Model.BlogsFav.Where(b => b.Position == 3).Select(b => b.Title).FirstOrDefault()
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-6 col-lg-4 pull-right pr-0 pl-0">
                    <a asp-controller="Blogs"
                       asp-action="Details"
                       asp-route-title="@Model.BlogsFav.Where(b => b.Position == 4).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
                       class="tiles-item d-block mt-3">
                        <img src="/@Model.BlogsFav.Where(b => b.Position == 4).Select(b => b.ImageUrl).FirstOrDefault()"
                             alt="@Model.BlogsFav.Where(b => b.Position == 4).Select(b => b.Title).FirstOrDefault()">
                        <span class="tiles-item-txt">
                            <span>
                                @Model.BlogsFav.Where(b => b.Position == 4).Select(b => b.Title).FirstOrDefault()
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-6 col-lg-8 pull-right pr-0 pl-0">
                    <a asp-controller="Blogs"
                       asp-action="Details"
                       asp-route-title="@Model.BlogsFav.Where(b => b.Position == 5).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
                       class="tiles-item d-block mt-3">
                        <img src="/@Model.BlogsFav.Where(b => b.Position == 5).Select(b => b.ImageUrl).FirstOrDefault()"
                             alt="@Model.BlogsFav.Where(b => b.Position == 5).Select(b => b.Title).FirstOrDefault()">
                        <span class="tiles-item-txt">
                            <span>
                                @Model.BlogsFav.Where(b => b.Position == 5).Select(b => b.Title).FirstOrDefault()
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-6 col-lg-4 pull-right pr-0 pl-0">
                    <a asp-controller="Blogs"
                       asp-action="Details"
                       asp-route-title="@Model.BlogsFav.Where(b => b.Position == 6).Select(b => b.Title).FirstOrDefault()?.Replace(" ", "-")"
                       class="tiles-item d-block mt-3">
                        <img src="/@Model.BlogsFav.Where(b => b.Position == 6).Select(b => b.ImageUrl).FirstOrDefault()"
                             alt="@Model.BlogsFav.Where(b => b.Position == 6).Select(b => b.Title).FirstOrDefault()">
                        <span class="tiles-item-txt">
                            <span>
                                @Model.BlogsFav.Where(b => b.Position == 6).Select(b => b.Title).FirstOrDefault()
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 pull-right mt-4">
    <div class="row">
        <div class="col-12 flickity">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="module-title-txt">منتخب سر دبیر</span>
                    <div class="module-title-sep"></div>
                    @* <a href="#" class="module-title-btn">مشاهده عناوین بیشتر</a> *@
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            @{ var i = 0; }
                            @foreach (var item in Model.BlogsAuthorFav)
                            {
                                i++;
                                <div class="owl-item @(i == 1 || i == 2 || i == 3 || i == 4 ? "active" : "")" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a asp-controller="Blogs"
                                           asp-action="Details"
                                           asp-route-title="@item.Title.Replace(" ", "-")">
                                            <img src="/@item.ImageUrl" class="img-fluid" alt="@item.Title">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                @item.Title
                                            </a>
                                        </h2>
                                        <div class="item-details">
                                            <div class="user-profile-stat-wrapper">
                                                <img src="@Model.Footers.ThumbnailLogoImage" class="avatar" alt="logo">
                                                <span class="item-details-author">
                                                    @item.Author
                                                </span>
                                            </div>
                                            <time class="item-details-date">
                                                @DateTime.Parse(item.LocalTime).ToPersianDateTime().ToString("yyyy/MM/dd")
                                                <i class="fa fa-clock-o"></i>
                                            </time>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="col-12 pull-right">
        <div class="main-aside pull-right sticky-sidebar sticky-sidebar-distant">
            <nav>
                <ul class="stick-menu">
                    <li class="stick-menu-item stick-logo">
                        <a href="#" title="مجله اکوفولاد">
                            <span style="color: #fc465b">MAG</span>
                                                     <br>
                                                     AHAN
                        </a>
                    </li>
                    @* <li class="stick-menu-item search-btn"> *@
                    @*     <a href="#"> *@
                    @*         <img src="assets/images/header/search-menu.png" alt="search"> *@
                    @*     </a> *@
                    @* </li> *@
                    <li class="stick-menu-item login-popup-btn">
                        <a href="#">
                            <img src="@SiteSetting.GetSiteSetting().ThumbnailLogoImage" alt="logo">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
       
            <div class="main-content">
                <div class="module-title">
                    <div class="module-title-txt">
                        <span class="bold">آخرین </span>
                        <span>عنوان‌ها</span>
                    </div>
                    <div class="module-title-sep"></div>
                </div>
                <div class="topics">
                    <div class="col-lg-9 col-md-12 col-xs-12 pr-0 pl-0 pull-right">
                        <div class="topics-content">
                            <section class="masonry-gallery">
                                @foreach (var item in Model.Blogs)
                                {
                                    <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                                        <div class="masonry-gallery-item">
                                            <div class="image">
                                                <a asp-controller="Blogs"
                                                   asp-action="Details"
                                                   asp-route-title="@item.Title.Replace(" ", "-")" class="image-linker">
                                                    <span class="image-mask"></span>
                                                    <img src="/@item.ImageUrl" alt="@item.Title" class="image-img wp-post-image">
                                                </a>
                                                <a asp-controller="Blogs"
                                                   asp-action="Details"
                                                   asp-route-title="@item.Title.Replace(" ", "-")" class="image-badge">
                                                    @item.BlogCategory.Name
                                                </a>
                                                <div class="image-fav">
                                                    @* <span class="popularity"> *@
                                                    @*     <span class="popularity-likes"> *@
                                                    @*         <i class="fa fa-heart"></i> *@
                                                    @*         <span class="popularity-likes-num">2</span> *@
                                                    @*     </span> *@
                                                    @*     <span class="popularity-time-to-read"> *@
                                                    @*         <i class="fa fa-clock-o"></i> *@
                                                    @*         <span class="popularity-minutes-read">مدت ۱:۳۷</span> *@
                                                    @*     </span> *@
                                                    @* </span> *@
                                                </div>
                                            </div>
                                            <a asp-controller="Blogs"
                                               asp-action="Details"
                                               asp-route-title="@item.Title.Replace(" ", "-")" class="masonry-gallery-item-title">
                                                @item.Title
                                            </a>
                                            <div class="masonry-gallery-item-description">
                                                @item.SmallDescription
                                            </div>
                                            <div class="masonry-gallery-item-detail">
                                                <div class="user-profile-stat-wrapper mr-0">
                                                    <img src="@Model.Footers.ThumbnailLogoImage" class="avatar" alt="logo">
                                                    <span class="item-details-author">
                                                        @item.Author
                                                    </span>
                                                </div>
                                                <span class="popularity-time-to-read pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                    <span class="popularity-minutes-read">
                                                        @DateTime.Parse(item.LocalTime).ToPersianDateTime().ToString("yyyy/MM/dd")
                                                    </span>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-xs-12 pull-left">
                        <aside class="sidebar-topics-aside">
                            @foreach (var item in Model.BlogsLeftPanelMostVisited)
                            {
                                <div class="post-list-widget">
                                    <div class="widget-title">
                                        <span>@item.Name @SiteSetting.GetSiteSetting().SiteName</span>
                                    </div>
                                    @foreach (var itemBlog in item.Blog.Take(1))
                                    {
                                        <a asp-controller="Blogs"
                                           asp-action="Details"
                                           asp-route-title="@itemBlog.Title.Replace(" ", "-")"
                                           class="favourites-title">
                                            <img src="/@itemBlog.ImageUrl" class="favourites-img" alt="@itemBlog.Title">
                                            @itemBlog.Title
                                        </a>
                                    }

                                    <ul class="favourites-list">
                                        @foreach (var itemBlog in item.Blog.Skip(1).Take(2))
                                        {
                                            <li class="favourites-list video">
                                                <a asp-controller="Blogs"
                                                   asp-action="Details"
                                                   asp-route-title="@itemBlog.Title.Replace(" ", "-")"
                                                   class="item-image d-inline-block">
                                                    <img src="/@itemBlog.ImageUrl" alt="@itemBlog.Title" class="item-image-img" width="80" height="60">
                                                </a>
                                                <div class="item-detail">
                                                    <a asp-controller="Blogs"
                                                       asp-action="Details"
                                                       asp-route-title="@itemBlog.Title.Replace(" ", "-")"
                                                       title="@itemBlog.Title"
                                                       class="item-detail-txt">
                                                        @itemBlog.Title
                                                    </a>
                                                    <div class="item-detail-time">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="past">
                                                              @DateTime.Parse(itemBlog.LocalTime).ToPersianDateTime().ToString("yyyy/MM/dd")
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <div class="favourites-btn">
                                        <a asp-controller="Blogs"
                                           asp-action="Category"
                                           asp-route-category="@item.Slug.Replace(" ", "-")">
                                            مشاهده عناوین بیشتر
                                        </a>
                                    </div>
                                </div>
                            }

                        </aside>
                    </div>
                </div>
                <div class="module-title module-title-two">
                    <div class="module-title-sep module-title-sep-two"></div>
                    <a asp-controller="Blogs" asp-action="Archive" asp-route-pageView="page" asp-route-pageNumber="1" class="module-title-btn">مشاهده عناوین بیشتر</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- content-------------------------->