@using Application.Services.FrontEnd.Common.Menus.Queries
@model ResultGetMenusFrontEndDto

@{
    Layout = null;
}


@foreach (var item in Model.Menus)
{
    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-233">
        <a asp-controller="Products"
           asp-action="CategoryFirstGroup"
           asp-route-FirstGroupName="@item.EnName" style="pointer-events: none; cursor: default;">
            @item.Name
        </a>
        <ul class="sub-menu">
            @foreach (var subItem in item.Sub)
            {
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-234">
                    <a asp-controller="Products"
                       asp-action="CategorySecoundGroup"
                       asp-route-SecoundGroupName="@subItem.EnFgname">
                        @subItem.Fgname
                    </a>
                    <ul class="sub-menu">
                        @foreach (var subSunItem in subItem.SubSub)
                        {
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240">
                                <a asp-controller="Products"
                                   asp-action="Category"
                                   asp-route-MenuName="@subSunItem.EnSgname">
                                    @subSunItem.Sgname
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}