@using Application.Services.FrontEnd.Common.Menus.Queries
@model ResultGetMenusFrontEndDto

@{
    Layout = null;
}


@foreach (var item in Model.Menus)
{
    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-233">
        <a href="#">@item.Name</a>
        <ul class="sub-menu">
            @foreach (var subItem in item.Sub)
            {
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-234">
                    <a href="#" > @subItem.Fgname</a>
                    <ul class="sub-menu">
                        @foreach (var subSunItem in subItem.SubSub)
                        {
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240">
                                <a asp-controller="Products"
                                   asp-action="Category"
                                   asp-route-category="@item.UrlName"
                                   asp-route-menuName="@subSunItem.Sgname.Replace(" ","-")"
                                    >
                                    @subSunItem.Sgname
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}