@if (Model.PageId >= 1)
{
    <nav class="navbar-centeral">
        <ul class="pagination">
            @if (Model.PageId > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Blogs" asp-action="Category" asp-route-pageView="page" asp-route-page="@(Model.PageId - 1)" aria-label="قبلی">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">قبلی</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Blogs" asp-action="Category" asp-route-pageView="page" asp-route-page="1">1</a>
                </li>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item">
                    <a class="page-link @(Model.PageId == i ? "current-page" : null)" asp-controller="Blogs" asp-action="Category" asp-route-pageView="page" asp-route-page="@i">@i</a>
                </li>
                @if (Model.PageCount < Model.PageId - 3 && i == Model.PageId - 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="#">…</a>
                    </li>
                }
            }
            @if (Model.PageCount > Model.PageId)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Blogs" asp-action="Category" asp-route-pageView="page" asp-route-page="@(Model.PageCount)">@(Model.PageCount)</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Blogs" asp-action="Category" asp-route-pageView="page" asp-route-page="@(Model.PageId + 1)" aria-label="بعدی">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">بعدی</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}