@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Domain.Entities.Users
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@inject IAuthorizationService _authorizationService;
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<header class="header-main-page">
<div class="d-block">
<div>
<div class="col-lg-8 col-md-8 col-xs-12 pull-right">
    <div class="header-right">
        <div class="logo">
            <a href="/">
                <img src="@_siteSetting.GetSiteSetting().LogoImage">
            </a>
        </div>

        <div class="col-lg-8 col-md-12 col-xs-12 pull-right">
            <div class="search-header search-box">
                <form action="#">
                    <input type="text" class="header-search-input" placeholder="جستجو در @_siteSetting.GetSiteSetting().SiteName...">
                    <button class="btn-search" type="submit">
                        <img src="assets/images/search.png">
                    </button>
                </form>
                <div class="search-result">
                    <ul class="search-result-list">
                        <li>
                            <a href="#">
                                موبایل
                                <button class="btn btn-light btn-remove-search" type="submit">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                لپ تاپ
                                <button class="btn btn-light btn-remove-search" type="submit">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                مودم
                                <button class="btn btn-light btn-remove-search" type="submit">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                شیائومی
                                <button class="btn btn-light btn-remove-search" type="submit">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                دوربین
                                <button class="btn btn-light btn-remove-search" type="submit">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </a>
                        </li>
                    </ul>
                    <ul class="search-result-most-view">
                        <li>
                            <a href="#">موبایل <i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="#">لپ تاپ <i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="#">مودم <i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="#">شیائومی <i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="#">دوربین <i class="fa fa-angle-left"></i></a>
                        </li>
                    </ul>
                    <div class="search-results-list js-search-ad-banner">
                        <a href="#">
                            <img src="assets/images/banner-search.jpg" alt="banner-search">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-4 col-md-4 col-xs-12 pull-left">
<div class="header-left">

@await Component.InvokeAsync("BasketComponent")


@if (User.Identity.IsAuthenticated)
{
    @if (_authorizationService.AuthorizeAsync(User, "SeniorProgrammer").Result.Succeeded)
    {
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="login-link" target="_blank">
            <button class="btn-login">
                <span class="mdi mdi-account"></span>
                        پنل برنامه نویس ارشد
                        <div class="dropdown-menu-login">
                    <div class="header-profile-dropdown-account">
                        <div class="header-profile-dropdown-user">
                            <div class="header-profile-dropdown-user-img">
                                <img src="assets/images/svg/user-profile.svg">
                            </div>
                            <div class="header-profile-dropdown-user-info">
                                <p class="header-profile-dropdown-user-name">
                                    @_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName
                                    <span class="header-profile-dropdown-user-profile-link">
                                        مشاهده حساب
                                        کاربری
                                    </span>
                                </p>
                            </div>
                            <div class="header-profile-dropdown-account">
                                <div class="header-profile-dropdown-account-item">
                                    <span class="header-profile-dropdown-account-item-title">
                                      کل خرید شما
                                    </span>
                                    <div class="header-profile-dropdown-account-item-amount">
                                        <span
                                            class="header-profile-dropdown-account-item-amount-number">
                                            ۰
                                        </span>
                                        تومان
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-profile-dropdown-actions">
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                سفارش‌های من
                            </a>
                        </div>
                        @* <div class="header-profile-dropdown-action-container"> *@
                        @*     <a asp-area="Admin" asp-controller="Home" asp-action="Index" *@
                        @*        class="header-profile-dropdown-action-link"> *@
                        @*         جوایز دیجی‌کلاب *@
                        @*     </a> *@
                        @* </div> *@
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut" class="header-profile-dropdown-action-link">
                                خروج از حساب
                                کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </button>
        </a>
    }
    else if (_authorizationService.AuthorizeAsync(User, "AdminRole").Result.Succeeded)
    {
          <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="login-link" target="_blank">
            <button class="btn-login">
                <span class="mdi mdi-account"></span>
                پنل ادمین ارشد 
                <div class="dropdown-menu-login">
                    <div class="header-profile-dropdown-account">
                        <div class="header-profile-dropdown-user">
                            <div class="header-profile-dropdown-user-img">
                                <img src="assets/images/svg/user-profile.svg">
                            </div>
                            <div class="header-profile-dropdown-user-info">
                                <p class="header-profile-dropdown-user-name">
                                    @_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName
                                    <span class="header-profile-dropdown-user-profile-link">
                                        مشاهده حساب
                                        کاربری
                                    </span>
                                </p>
                            </div>
                            <div class="header-profile-dropdown-account">
                                <div class="header-profile-dropdown-account-item">
                                    <span class="header-profile-dropdown-account-item-title">
                                        کل خرید شما
                                    </span>
                                    <div class="header-profile-dropdown-account-item-amount">
                                        <span
                                            class="header-profile-dropdown-account-item-amount-number">
                                            ۰
                                        </span>
                                        تومان
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-profile-dropdown-actions">
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                سفارش‌های من
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                جوایز دیجی‌کلاب
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut" class="header-profile-dropdown-action-link">
                                خروج از حساب
                                کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </button>
        </a>
    }
    else if (_authorizationService.AuthorizeAsync(User, "OwnerRole").Result.Succeeded)
    {
          <a asp-area="Owner" asp-controller="Home" asp-action="Index" class="login-link" target="_blank">
            <button class="btn-login">
                <span class="mdi mdi-account"></span>
                مشاهده پروفایل
                <div class="dropdown-menu-login">
                    <div class="header-profile-dropdown-account">
                        <div class="header-profile-dropdown-user">
                            <div class="header-profile-dropdown-user-img">
                                <img src="assets/images/svg/user-profile.svg">
                            </div>
                            <div class="header-profile-dropdown-user-info">
                                <p class="header-profile-dropdown-user-name">
                                    @_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName
                                    <span class="header-profile-dropdown-user-profile-link">
                                        مشاهده حساب
                                        کاربری
                                    </span>
                                </p>
                            </div>
                            <div class="header-profile-dropdown-account">
                                <div class="header-profile-dropdown-account-item">
                                    <span class="header-profile-dropdown-account-item-title">
                                      کل خرید شما
                                    </span>
                                    <div class="header-profile-dropdown-account-item-amount">
                                        <span
                                            class="header-profile-dropdown-account-item-amount-number">
                                            ۰
                                        </span>
                                        تومان
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-profile-dropdown-actions">
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                سفارش‌های من
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                جوایز دیجی‌کلاب
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut" class="header-profile-dropdown-action-link">
                                خروج از حساب
                                کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </button>
        </a>
    }
    else if (_authorizationService.AuthorizeAsync(User, "UserRole").Result.Succeeded)
    {
          <a asp-area="User" asp-controller="Home" asp-action="Index" class="login-link" target="_blank">
            <button class="btn-login">
                <span class="mdi mdi-account"></span>
                مشاهده پروفایل
                <div class="dropdown-menu-login">
                    <div class="header-profile-dropdown-account">
                        <div class="header-profile-dropdown-user">
                            <div class="header-profile-dropdown-user-img">
                                <img src="assets/images/svg/user-profile.svg">
                            </div>
                            <div class="header-profile-dropdown-user-info">
                                <p class="header-profile-dropdown-user-name">
                                    @_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName
                                    <span class="header-profile-dropdown-user-profile-link">
                                        مشاهده حساب
                                        کاربری
                                    </span>
                                </p>
                            </div>
                            <div class="header-profile-dropdown-account">
                                <div class="header-profile-dropdown-account-item">
                                    <span class="header-profile-dropdown-account-item-title">
                                      کل خرید شما
                                    </span>
                                    <div class="header-profile-dropdown-account-item-amount">
                                        <span
                                            class="header-profile-dropdown-account-item-amount-number">
                                            ۰
                                        </span>
                                        تومان
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-profile-dropdown-actions">
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                سفارش‌های من
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                               class="header-profile-dropdown-action-link">
                                جوایز دیجی‌کلاب
                            </a>
                        </div>
                        <div class="header-profile-dropdown-action-container">
                            <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut" class="header-profile-dropdown-action-link">
                                خروج از حساب
                                کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </button>
        </a>
    }
}
else
{
    <a asp-area="Auth"
       asp-controller="Auth"
       asp-action="CheckOut"
       class="login-link">
        <button class="btn-login">
            <span class="mdi mdi-account"></span>
            ورود / ثبت نام
        </button>
    </a>
}


<!-- responsive basket header------------------->
<div class="responsive-header-left">
    <a href="#">
        <button class="btn-login-responsive">
            <span class="mdi mdi-account"></span>
            @* <span class="cart-count">3</span> *@
            <div class="dropdown-menu-login">
                <div class="header-profile-dropdown-account">
                    <div class="header-profile-dropdown-user">
                        <div class="header-profile-dropdown-user-img">
                            <img src="assets/images/svg/user-profile.svg">
                        </div>
                        <div class="header-profile-dropdown-user-info">
                            <p class="header-profile-dropdown-user-name">
                                حسن شجاعی
                                <span class="header-profile-dropdown-user-profile-link">
                                    مشاهده
                                    حساب کاربری
                                </span>
                            </p>
                        </div>
                        <div class="header-profile-dropdown-account">
                            <div class="header-profile-dropdown-account-item">
                                <span class="header-profile-dropdown-account-item-title">
                                    کیف
                                    پول
                                </span>
                                <div class="header-profile-dropdown-account-item-amount">
                                    <span
                                        class="header-profile-dropdown-account-item-amount-number">
                                        ۰
                                    </span>
                                    تومان
                                </div>
                            </div>
                            <div class="header-profile-dropdown-account-item">
                                <span
                                    class="header-profile-dropdown-account-item-title">
                                    دیجی‌کلاب
                                </span>
                                <div class="header-profile-dropdown-account-item-amount">
                                    <span
                                        class="header-profile-dropdown-account-item-amount-number">
                                        ۰
                                    </span>
                                    تومان
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-profile-dropdown-actions">
                    <div class="header-profile-dropdown-action-container">
                        <a href="#" class="header-profile-dropdown-action-link">سفارش‌های من</a>
                    </div>
                    <div class="header-profile-dropdown-action-container">
                        <a href="#" class="header-profile-dropdown-action-link">
                            جوایز
                            دیجی‌کلاب
                        </a>
                    </div>
                    <div class="header-profile-dropdown-action-container">
                        <a href="#" class="header-profile-dropdown-action-link">
                            خروج از حساب
                            کاربری
                        </a>
                    </div>
                </div>
            </div>
        </button>
    </a>
    
    
    
    @await Component.InvokeAsync("ResponsiveBasketComponent")
    <button class="question-faq">
    <span class="fa fa-question-circle-o"></span>
</button>
</div>
<!-- responsive basket header------------------->
</div>
</div>
</div>


<!--        Start megamenu----------------->
<partial name="_MenusPartial"/>
</div>
<!--        End megamenu------------------->

<partial name="_ResponsiveMenusPartial"/>


</header>