    @if (Model.PageId >= 1)
    {
        <nav class="woocommerce-pagination" lang="fa">
            <ul class="page-numbers">
                @if (Model.PageId > 1)
                {
                    <li>
                        <a class="next page-numbers" asp-controller="Products" asp-action="Category" asp-route-CategoryName="@Model.UrlName" asp-route-MenuName="@Model.Sgname.Replace(" ","-")" asp-route-PageWordForUrl="page" asp-route-PageNum="1">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="next page-numbers" asp-controller="Products" asp-action="Category" asp-route-pageView="page" asp-route-page="@(Model.PageId - 1)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li>
                        <span aria-current="page" class="page-numbers @(Model.PageId == i ? "current" : null)">
                            <a asp-controller="Products" asp-action="Category" asp-route-pageView="page" asp-route-page="@i">@i</a>
                        </span>
                    </li>
                    @if ( Model.PageCount < Model.PageId - 3 && i == Model.PageId -1)
                    {
                    <li>
                          <span class="page-numbers dots">…</span>
                    </li>
                    }

                }


             
                @if (Model.PageCount > Model.PageId)
                {
                    <li>
                        <a class="next page-numbers" asp-controller="Products" asp-action="Category" asp-route-CategoryName="@Model.UrlName" asp-route-MenuName="@Model.Sgname.Replace(" ","-")" asp-route-PageWordForUrl="page" asp-route-PageNum="@(Model.PageId + 1)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="next page-numbers" asp-controller="Products" asp-action="Category" asp-route-CategoryName="@Model.UrlName" asp-route-MenuName="@Model.Sgname.Replace(" ","-")" asp-route-PageWordForUrl="page" asp-route-PageNum="@(Model.PageCount)">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    }
