@using ParsaPoolad.Application.Services.BackEnd.Admin.Products.Queries
@model ParsaPoolad.Application.Services.BackEnd.Owner.Products.Queries.ResultGetEditProductsDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " ویرایش جدید ";
    Layout = "~/Areas/Owner/Views/Shared/_Layout.cshtml";
}

<div class="app-content content">
<div class="content-overlay"></div>
<div class="content-wrapper">
<div class="content-header row"></div>
<div class="content-body">
<!-- app invoice View Page -->
<form asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Product.ProductId" method="post">
<section class="invoice-edit-wrapper">

<div class="row">
<!-- invoice view page -->
<div class="col-xl-12 col-md-12 col-12">
<div class="card">
<div class="card-content">
<div class="card-body pb-0 mx-25">
<!-- Basic Select2 start -->
<section class="basic-select2">
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <h4 class="card-title text-primary"> انتخاب دسته بندی <b class="text-danger h3">*</b> </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            @* <h6 class="text-primary"> انتخاب دسته بندی <b class="text-danger h3">*</b></h6> *@
                            @* <p>Use <code>.select2</code> class for basic select2 control.</p> *@
                            <div class="form-group">
                                <select class="select2 form-control selectMenuAndReturnSubMenu">
                                    <option value="@Model.SMenus.ParsaPooladMenusId">@Model.SMenus.Name </option>
                                    <hr>
                                    @foreach (var item in Model.Menus)
                                    {
                                        <option value="@item.ParsaPooladMenusId">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @* <h6 class="text-primary"> انتخاب  شرکت <b class="text-danger h3">*</b></h6> *@
                            @* <p>Use <code>.select2</code> class for basic select2 control.</p> *@
                            <div class="form-group">
                                <select class="select2 form-control selectMenuAndReturnSubSubMenu" id="resultSubMenu">
                                    <option value="@Model.SubMenus.PrdFirstGroupId">@Model.SubMenus.Fgname </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @* <h6 class="text-primary"> انتخاب  شرکت <b class="text-danger h3">*</b></h6> *@
                            @* <p>Use <code>.select2</code> class for basic select2 control.</p> *@
                            <div class="form-group">
                                <select class="select2 form-control resultSubSubMenu" asp-for="PrdGroupId">
                                    <option value="@Model.Product.PrdGroup.PrdSecondGroupId">@Model.Product.PrdGroup.Sgname </option>
                                </select>
                                <span asp-validation-for="PrdGroupId" class="text-danger"></span>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Select2 end -->
<hr>
<!-- header section -->
<div class="row my-2 py-50">
    <div class="col-sm-6 col-12 order-2 order-sm-1">
        <h6 asp-for="PrdName" class="text-primary">نام محصول: <b class="text-danger h3">*</b></h6>
        <input asp-for="PrdName" type="text" value="@Model.Product.PrdName" class="form-control" placeholder="نام را وارد کنید">
        <span asp-validation-for="PrdName" class="text-danger"></span>

    </div>
    <div class="col-md-6 col-12 order-2 order-sm-1">
        <h6 class="text-primary"> انتخاب شرکت سازنده محصول:<b class="text-danger h3">*</b></h6>
        <div class="form-group">
            <select class="select2 form-control" asp-for="PrdShpotherSupplierId">
                <option value="@Model.Product.PrdShpotherSupplier.CompanyId">@Model.Product.PrdShpotherSupplier.CmpName </option>
            </select>
            <span asp-validation-for="PrdShpotherSupplierId" class="text-danger"></span>
        </div>
    </div>

    @* <div class="col-sm-6 col-12 order-1 order-sm-1 d-flex justify-content-end"> *@
    @*   <img src="../../../app-assets/images/pages/pixinvent-logo.png" alt="logo" height="46" width="164"> *@
    @* </div> *@
</div>

<hr>

<!-- Basic Select2 start -->
<section class="basic-select2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @* <div class="card-header"> *@
                @*     <h4 class="card-title">پر کردن قسمت های ستاره دار(<b class="text-danger h3">*</b>) الزامی است</h4> *@
                @*     <b class="text-danger h3">*</b> *@
                @* </div> *@
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <h6 class="text-primary">واحد محصول:<b class="text-danger h3">*</b></h6>
                                @* <p>Use <code>.select2</code> class for basic select2 control.</p> *@
                                <div class="form-group">
                                    <select asp-for="PrdUnitId" class="select2 form-control UnitProduct">
                                        <option value="@Model.Product.PrdUnit.ProductUnitId">@Model.Product.PrdUnit.Unit </option>
                                    </select>
                                    <span asp-validation-for="PrdUnitId" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                <h6 class="text-primary"> موجودی(بر حسب واحد محصول): <b class="text-danger h3">*</b></h6>
                                <input asp-for="PrdMaxQty" type="text" value="@Model.Product.PrdMaxQty" class="form-control" placeholder="موجودی را وارد کنید">
                                <span asp-validation-for="PrdMaxQty" class="text-danger"></span>
                            </div>

                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                <h6 class="text-primary"> سایز: <b class="text-danger h3">*</b></h6>
                                <input asp-for="PrdSize" type="text" value="@Model.Product.PrdSize" class="form-control" placeholder="سایز را وارد کنید">
                                <span asp-validation-for="PrdSize" class="text-danger"></span>
                            </div>

                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                <h6 class="text-primary"> مدل(نوع آلیاژ,طول,ضخامت): <b class="text-danger h3">*</b></h6>
                                <input asp-for="PrdModel" type="text" value="@Model.Product.PrdModel" class="form-control" placeholder="مدل را وارد کنید">
                                <span asp-validation-for="PrdModel" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Select2 end -->

<hr>


<!-- Basic Select2 start -->
<section class="basic-select2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @* <div class="card-header"> *@
                @*     <h4 class="card-title">پر کردن قسمت های ستاره دار(<b class="text-danger h3">*</b>) الزامی است</h4> *@
                @*     <b class="text-danger h3">*</b> *@
                @* </div> *@
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                <h6 class="text-primary"> قیت(ریال): <b class="text-danger h3">*</b></h6>
                                <input asp-for="PrdPrice" type="text" value="@Model.Product.PrdPrice" class="form-control" placeholder="فقط عدد وارد کنید">
                                <span asp-validation-for="PrdPrice" class="text-danger"></span>
                            </div>

                            @*  <div class="col-sm-6 col-12 order-2 order-sm-1"> *@
                            @*     <h6 class="text-primary"> سایز  <b class="text-danger h3">*</b></h6> *@
                            @*     <input name="size" type="text" class="form-control" placeholder="فقط عدد وارد کنید"> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Select2 end -->

<hr>

@* <section id="input-file-browser"> *@
@*     <div class="row"> *@
@*         <div class="col-md-12"> *@
@*             <div class="card"> *@
@*                 <div class="card-header"> *@
@*                     <h4 class="card-title text-primary">انتخاب عکس محصول</h4> *@
@*                 </div> *@
@*                 <div class="card-content"> *@
@*                     <div class="card-body"> *@
@*                         <div class="row"> *@
@*                             <div class="col-lg-6 col-md-12"> *@
@*                                 <fieldset class="form-group"> *@
@*                                     <label for="basicInputFile"> عکس اول <b class="text-danger h3">*</b></label> *@
@*                                     <div class="custom-file"> *@
@*                                         <input type="file" class="custom-file-input" id="inputGroupFile01"> *@
@*                                         <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label> *@
@*                                     </div> *@
@*                                 </fieldset> *@
@*                             </div> *@
@*                             <div class="col-lg-6 col-md-12"> *@
@*                                 <fieldset class="form-group"> *@
@*                                     <label for="basicInputFile">عکس دوم</label> *@
@*                                     <div class="custom-file"> *@
@*                                         <input type="file" class="custom-file-input" id="inputGroupFile01"> *@
@*                                         <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label> *@
@*                                     </div> *@
@*                                 </fieldset> *@
@*                             </div> *@
@*                             <div class="col-lg-6 col-md-12"> *@
@*                                 <fieldset class="form-group"> *@
@*                                     <label for="basicInputFile">عکس سوم</label> *@
@*                                     <div class="custom-file"> *@
@*                                         <input type="file" class="custom-file-input" id="inputGroupFile01"> *@
@*                                         <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label> *@
@*                                     </div> *@
@*                                 </fieldset> *@
@*                             </div> *@
@*                             <div class="col-lg-6 col-md-12"> *@
@*                                 <fieldset class="form-group"> *@
@*                                     <label for="basicInputFile">عکس چهارم</label> *@
@*                                     <div class="custom-file"> *@
@*                                         <input type="file" class="custom-file-input" id="inputGroupFile01"> *@
@*                                         <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label> *@
@*                                     </div> *@
@*                                 </fieldset> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
@* <hr> *@


<!-- invoice address and contact -->
<div class="row invoice-info">
    <div class="col-lg-12 col-md-12 mt-25">
        <h6 class="invoice-to text-primary"> توضیحات</h6>
        <fieldset class="invoice-address form-group">
            <textarea asp-for="PrdDescription" value="@Model.Product.PrdDescription" class="form-control" rows="4" placeholder="توضیحات محصول را وارد کنید" style="margin-top: 0px; margin-bottom: 0px; height: 169px;"></textarea>
            <span asp-validation-for="PrdDescription" class="text-danger"></span>
        </fieldset>

    </div>
</div>
<hr>


</div>
</div>
</div>
</div>
<!-- invoice action  -->
</div>
</section>

<button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button>
</form>
</div>
</div>
</div>