@using ParsaPoolad.Application.Services.BackEnd.Admin.Products.Queries
@model ResultGetDetailsProductDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "نمایش محصول جدید ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/pages/app-invoice.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css">
}

@section Foo{
    <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/pages/app-invoice.min.js"></script>
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- app invoice View Page -->
            <section class="invoice-view-wrapper">
                <div class="row">
                    <!-- invoice view page -->
                    <div class="col-xl-12 col-md-8 col-12">
                        <div class="card invoice-print-area">
                            <div class="card-content">
                                <div class="card-body pb-0 mx-25">
                                    <!-- header section -->
                                    <div class="row">
                                        <div class="col-xl-4 col-md-12">
                                            <span class="invoice-number mr-50">شماره سفارش:</span>
                                            <span>@Model.Product.PrdCode</span>
                                        </div>
                                        <div class="col-xl-8 col-md-12">
                                            <div class="d-flex align-items-center justify-content-xl-end flex-wrap">
                                                <div class="mr-3">
                                                    <small class="text-muted">
                                                        تاریخ سفارش:
                                                    </small>
                                                    <span>@Model.Product.RegisterDatePersian</span>
                                                </div>
                                                @* <div> *@
                                                @*   <small class="text-muted">Date Due:</small> *@
                                                @*   <span>08/10/2019</span> *@
                                                @* </div> *@
                                            </div>
                                        </div>
                                    </div>
                                    <!-- logo and title -->
                                    <div class="row my-3">
                                        <div class="col-4">
                                            <span>نام محصول:</span>
                                            <h4 class="text-primary">@Model.Product.PrdName</h4>
                                        </div>
                                        <div class="col-4">
                                            <span>نام شرکت سازنده:</span>
                                            <h4 class="text-primary">@Model.Product.CompanyProducts.CmpName</h4>
                                        </div>

                                        <div class="col-4 d-flex justify-content-end">
                                            <img src="~/BackEnd/Admin/images/logo/logo.png" alt="logo" height="46" width="164">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- invoice address and contact -->
                                    <div class="row invoice-info">
                                        <div class="col-6 mt-1">
                                            <h6 class="invoice-from">جز منوی:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdGroupId.Sgname</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row invoice-info">
                                        <div class="col-6 mt-1">
                                            <h6 class="invoice-from">واحد محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.UnitProducts.Unit</span>
                                            </div>

                                            <h6 class="invoice-from">سایز محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdSize</span>
                                            </div>

                                            <h6 class="invoice-from">قیمت محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdPrice</span>
                                            </div>
                                        </div>

                                        <div class="col-6 mt-1">
                                            <h6 class="invoice-to">موجودی محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdMaxQty</span>
                                            </div>

                                            <h6 class="invoice-from">مدل محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdModel</span>
                                            </div>


                                            <h6 class="invoice-from">توضیحات محصول:</h6>
                                            <div class="mb-1">
                                                <span>@Model.Product.PrdDescription</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>