@using Domain.Entities.Users
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService;
@inject SignInManager<User> SignInManager
@inject UserManager<Domain.Entities.Users.User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8"/>
    <title>اکوفولاد | @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#dd3333"/>
    @await RenderSectionAsync("Head", false)
    <partial name="_HeadPartial"/>
</head>


<body data-rsssl=1 class="rtl page-template page-template-woocommerce-dashboard-template page-template-woocommerce-dashboard-template-php page page-id-7 logged-in theme-newkala woocommerce-account woocommerce-page woocommerce-no-js nk_desktop nk_my_account_page elementor-default elementor-kit-3073 dokan-theme-newkala" id="body">
<header class="nk_wooccommerce_header"></header>
<div class="sp_background_head">
    <nav>
        <div class="sp_header_menu">
            <div class="sp_header_logo">

                <div class="logo ">

                    <a title="" href="https://product-mirzacode.ir/newkala/preview">
                        <img data-skip-lazy="" class="skip-lazy" src="/Images/Settings/Logo-Header.jpg" alt="">
                        <span class="main-site-title">نیوکالا المنتور</span>
                    </a>
                </div>

            </div>
            <div class="sp_header_Contents">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="‍‍‍‍‍~/panel/user/home/index">صفحه اصلی سایت</a>
                    </li>
                    <li>
                        <i class="fas fa-question-circle"></i>
                        <a href="~/faq">پاسخ به پرسش‌های متداول</a>
                    </li>
                    <li>
                        <i class="fab fa-first-order"></i>
                        <a href="~/faq/question/22">نحوه ثبت سفارش</a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="~/aboutus">تماس با ما</a>
                    </li>
                    <li>
                        <i class="fas fa-blog"></i>
                        <a href="~/blog/">بلاگ</a>
                    </li>
                </ul>
            </div>
        </div>
        <svg id="menu_bar" width="36" height="36" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="4" width="16" height="1"></rect> <rect x="2" y="9" width="16" height="1"></rect> <rect x="2" y="14" width="16" height="1"></rect>
        </svg>
        <div class="sp_header_Support">
            <div class="sp_phone_support">
                <p class="wc_phone_nummber">پشتیبانی : 02100000000</p>
            </div>
            <div class="sp_bell">
                <i class="fas fa-bell"></i>
                <div class="notify">
                    <span class="heartbit"></span>
                    <span class="point"></span>
                </div>
                <div class="unread_announcements_box">
                    <div class="sp_Ports">
                        <p class="no_announcement">اعلانی وجود ندارد!</p><style>.sp_bell .notify{display:none;}</style>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<main>
<partial name="_RtightPanelPartial"/>
<div class="sp_toch">

    <div class="sp_menu_bar">
        <div class="sp_avatar">
            <div class="sp_image_avatar">
                <img alt='' src='https://secure.gravatar.com/avatar/bf44d824b64ba0a0284f4dbfda012ae6?s=65&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/bf44d824b64ba0a0284f4dbfda012ae6?s=130&#038;d=mm&#038;r=g 2x' class='avatar avatar-65 photo' height='65' width='65'/>
                <svg id="sp_Multiplication" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                    <line fill="none" stroke="#fff" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#fff" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line>
                </svg>
            </div>
            <div class="sp_paragraph_avatar">
                <h1> @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</h1>
                <p>
                    <p>تاریخ عضویت : 28-08-1399</p>
                </p>
            </div>
            <div class="sp_icon_avatar">
                <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut">
                    <i class="fas fa-power-off"></i>
                </a>
                <a href="https://product-mirzacode.ir/newkala/preview">
                    <i class="fas fa-home"></i>
                </a>
                <a href="https://product-mirzacode.ir/newkala/preview/my-account/edit-account/">
                    <i class="fas fa-cog"></i>
                </a>
            </div>
        </div>
        <div class="sp_my_account2">
            <ul>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/"><i class="fas fa-tachometer-alt"></i>پیشخوان</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/orders/"><i class="fas fa-file-alt"></i>سفارش‌ها</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/downloads/"><i class="fas fa-download"></i>دانلودها</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/edit-address/"><i class="fas fa-address-book"></i>آدرس‌ها</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/edit-account/"><i class="fas fa-user"></i>جزئیات حساب</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--comments">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/comments/"><i class="fas fa-comment"></i>نظرات</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--notification">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/notification/"><i class="fas fa-bell"></i>اعلانات</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                    <a href="https://product-mirzacode.ir/newkala/preview/my-account/customer-logout/?_wpnonce=695cf61f6b"><i class="fas fa-sign-out-alt"></i>خروج از سیستم</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sp_body_panel">
    <div class="woocommerce">
        <div class="woocommerce-MyAccount-content">
            <div class="woocommerce-notices-wrapper"></div>
            <div class="woocommerce-notices-wrapper"></div>
            <div class="sp_top_panel">
                @* <h1>پنل کاربران</h1> *@
                <p>
                    <i class="far fa-user"></i>
                    کاربر گرامی @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName عزیز خوش آمدید
                </p>
            </div>
            <div class="sp_bottom_panel">
               @await Component.InvokeAsync("LayoutComponent")
                <div class="sp_Ports">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>
</main>
<partial name="_FooterPartial"/>
<script src="https://product-mirzacode.ir/newkala/preview/wp-content/themes/newkala/js/custom_woocommerce_dashboard.js"></script>
@await RenderSectionAsync("Foo", false)
</body>
</html>


